flows_dorieth.json
[{"id":"66115f78.35b8","type":"tab","label":"0. Config","disabled":false,"info":""},{"id":"bf447e2a.727cb","type":"tab","label":"1. PT - Flow Timers","disabled":false,"info":""},{"id":"fa30308e.1452c","type":"tab","label":"2. PT - Modbus Multi","disabled":false,"info":"flow to learn how to read with multiple devices by \non connection and node with less UI CPU load"},{"id":"826fea5b.3c9338","type":"tab","label":"3. PT - Human Data","disabled":false,"info":""},{"id":"edf56d3b.73c47","type":"tab","label":"4.1 PT - Charts","disabled":false,"info":""},{"id":"f9e52348.05af9","type":"tab","label":"4.2 PT - Energy Record","disabled":false,"info":"Manages the reporting of energy use per \nhour and per day."},{"id":"a54dc71.22638b8","type":"tab","label":"4.4 PT - to mySQL","disabled":true,"info":"Change data to send to mySQL\n\nIf found disabled, this is for testing only."},{"id":"324a913d.0871de","type":"tab","label":"Flow 2emoncms","disabled":true,"info":"Send Data to Emoncms\n\nthis flow works but need to setup local emoncms first"},{"id":"6a127512.2ffb74","type":"subflow","name":"2b. Modbus Map Single Phase","info":"","in":[{"x":140,"y":400,"wires":[{"id":"ee551a2e.c4d2a8"},{"id":"dc045879.d56f58"},{"id":"65a8b68.b48f548"},{"id":"7ec5a34d.7267dc"}]}],"out":[{"x":1500,"y":400,"wires":[{"id":"a776edd3.304c2","port":0},{"id":"5b31b1aa.3c7a5","port":0},{"id":"8551badb.392118","port":0},{"id":"9cb2792a.02cf98","port":0},{"id":"ecd7c025.661cc","port":0},{"id":"15888a82.f0f435","port":0},{"id":"7633c46b.845adc","port":0},{"id":"1ed67c51.428484","port":0},{"id":"e79f2373.3e774","port":0}]}]},{"id":"3ec999c.d75af66","type":"subflow","name":"2a. Unit ID","info":"Output 1: Single Phase\nOutput 2: Three Phase","in":[{"x":46,"y":241,"wires":[{"id":"55a3e031.53e088"},{"id":"3dcc1a67.7f67ee"}]}],"out":[{"x":1040,"y":460,"wires":[{"id":"2f27b1d4.52fe9e","port":0}]},{"x":1040,"y":580,"wires":[{"id":"2f27b1d4.52fe9e","port":1}]}]},{"id":"9da8ce57.7a458","type":"subflow","name":"Condition Message","info":"","in":[{"x":271,"y":227.00000762939453,"wires":[]}],"out":[{"x":1041.9999694824219,"y":222.0000228881836,"wires":[{"id":"9da8ce57.7a458","port":0}]}]},{"id":"da767948.dfd5","type":"subflow","name":"Charts","info":"","in":[],"out":[]},{"id":"563e9c23.077654","type":"subflow","name":"Timing Triggers","info":"Manage the request timing\nManage the cascade delay for change of modbus \nnodes","in":[],"out":[{"x":828,"y":231,"wires":[]}]},{"id":"d7593dad.f1865","type":"subflow","name":"2c. Modbus Map Three Phase","info":"","in":[{"x":160,"y":460,"wires":[{"id":"8ea29a18.0c7898"},{"id":"c7e0d1a3.f76f2"},{"id":"c56f7d19.72732"},{"id":"fd270db6.55d9d"}]}],"out":[{"x":1240,"y":440,"wires":[{"id":"bf7cf75f.68b6f8","port":0},{"id":"f90c99c3.5f5648","port":0},{"id":"a489834a.b7a28","port":0},{"id":"4f10c41b.89aee4","port":0},{"id":"c7dd4b3f.d86248","port":0},{"id":"24fd6ae.07ac216","port":0},{"id":"1d12035d.7aabdd","port":0},{"id":"7d9554c8.5dd424","port":0},{"id":"a5ea0bd4.0b042","port":0}]}]},{"id":"8ea7900.d31e2f","type":"subflow","name":"2d. Events Map","info":"","in":[{"x":120,"y":340,"wires":[{"id":"5e70d827.a4d53"}]}],"out":[{"x":1320,"y":460,"wires":[{"id":"64554b89.bf67c4","port":0},{"id":"266255dd.12feba","port":0},{"id":"cb327dfa.a046f","port":0},{"id":"17dabfd8.10a2a","port":0},{"id":"ccc9e2d6.756f6","port":0}]}]},{"id":"601b96a4.60a33","type":"subflow","name":"SF_runHour","info":"","in":[{"x":320,"y":400,"wires":[{"id":"724bb58a.9352a4"}]}],"out":[{"x":700,"y":400,"wires":[{"id":"724bb58a.9352a4","port":0}]}]},{"id":"2dcacc6c.5cb2b4","type":"subflow","name":"OPC UA Server","info":"","in":[{"x":80,"y":90,"wires":[]}],"out":[]},{"id":"5f51c979.730be8","type":"subflow","name":"Model","info":"","in":[],"out":[{"x":680,"y":390,"wires":[]}]},{"id":"9dd4e23f.ed01e","type":"subflow","name":"SDM630 charts","info":"","in":[{"x":170,"y":360,"wires":[]}],"out":[]},{"id":"a6f56f22.41347","type":"subflow","name":"static charts","info":"","in":[{"x":270,"y":240,"wires":[]}],"out":[]},{"id":"bd98e068.a58fd8","type":"subflow","name":"2a. Unit ID (2)","info":"Output 1: Single Phase\nOutput 2: Three Phase","in":[{"x":46,"y":241,"wires":[{"id":"a327186.3761e68"},{"id":"1162074f.ae7601"}]}],"out":[{"x":1040,"y":460,"wires":[{"id":"3c1e1d99.033b12","port":0}]},{"x":1040,"y":580,"wires":[{"id":"3c1e1d99.033b12","port":1}]}]},{"id":"c29d31ae.f66488","type":"subflow","name":"Charts (2)","info":"","in":[],"out":[]},{"id":"966d0c4b.b1bf28","type":"subflow","name":"2c. Modbus Map Three Phase (2)","info":"","in":[{"x":160,"y":460,"wires":[{"id":"a334f14b.e334f"},{"id":"4152a17d.4e293"},{"id":"79a61218.20a8bc"},{"id":"6a8448e3.e8f908"}]}],"out":[{"x":1240,"y":440,"wires":[{"id":"adb6de5f.3cb258","port":0},{"id":"17051fd9.459228","port":0},{"id":"8b08d5d8.101b1","port":0},{"id":"4e3a5cf5.378b14","port":0},{"id":"978b0393.46c3f","port":0},{"id":"a0f79848.f4fdd8","port":0},{"id":"c10a94fc.eaadd8","port":0},{"id":"fdce8d7e.67385","port":0},{"id":"bdef2e41.eaa7b8","port":0}]}]},{"id":"ecd15044.02cdd","type":"mqtt-broker","z":"","name":"lola","broker":"192.168.1.10","port":"1883","clientid":"PT","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"453913bb.52a934","type":"mqtt-broker","z":"","name":"LolaMqtt","broker":"192.168.1.10","port":"1883","clientid":"cora","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b92443b2.5dfcb8","type":"websocket-listener","z":"","path":"test","wholemsg":"false"},{"id":"ddf455a.4cc25a8","type":"mqtt-broker","z":"","name":"lola","broker":"192.168.1.10","port":"1883","clientid":"PT","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"59e97b43.abd204","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e894688a.72d8b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62fb14b5.551414","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Ener-me-ter","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9af790f4.029c98","type":"ui_tab","z":0,"name":"Setup","icon":"settings-outline","order":1},{"id":"9ff0e582.d1f488","type":"ui_tab","z":0,"name":"Info","icon":"dashboard","order":2},{"id":"abdf83bc.aaf358","type":"ui_tab","z":0,"name":"Meters","icon":"counter"},{"id":"e3cfa59d.8899","type":"ui_tab","z":0,"name":"Testing","icon":"dashboard","order":1},{"id":"617523e2.1a62e4","type":"ui_group","z":0,"name":"Mains and Generation","tab":"9af790f4.029c98","order":3,"disp":true,"width":"8","collapse":true},{"id":"544391f8.14d89","type":"ui_group","z":0,"name":"Sub Circuits","tab":"9af790f4.029c98","order":2,"disp":true,"width":"8","collapse":true},{"id":"d2ff320e.b483d8","type":"ui_group","z":"da767948.dfd5","name":"Gauges","tab":"9af790f4.029c98","order":1,"disp":true,"width":"8","collapse":true},{"id":"10096215.6e0526","type":"ui_group","z":0,"name":"Single | Three Phase","tab":"9af790f4.029c98","order":4,"disp":true,"width":"6","collapse":false},{"id":"f37de1e7.57ab2","type":"ui_group","z":0,"name":"Background Values","tab":"9ff0e582.d1f488","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea1e8a07.6b69d8","type":"ui_group","z":0,"name":"Counters","tab":"9ff0e582.d1f488","order":2,"disp":true,"width":"6","collapse":false},{"id":"54553ac9.48028c","type":"ui_group","z":0,"name":"Run Hour","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"88514eeb.8dadb8","type":"ui_group","z":0,"name":"Total Energy","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"41d2f392.18efa4","type":"ui_group","z":0,"name":"Usage This Hour, Last Hour","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"565f8303.f1204c","type":"ui_group","z":0,"name":"Usage Today/Yesterday","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"412e1c7d.9ea144","type":"ui_group","z":"","name":"Test Table","tab":"e3cfa59d.8899","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fcfa7dd.1a2c4","type":"ui_group","z":0,"name":"MCB Status","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"cbbe370f.7ad5c8","type":"ui_group","z":"c29d31ae.f66488","name":"Gauges","tab":"aa1e7ade.cd93a8","order":2,"disp":true,"width":"8","collapse":true},{"id":"372b6034.f1cdd8","type":"key-value-store","z":0,"filepath":"energyStore.json","namespace":"","name":""},{"id":"ba35f68c.ad58b8","type":"MySQLdatabase","z":"","host":"192.168.1.82","port":"3306","db":"ener_me","tz":""},{"id":"41a4eac8.adaa44","type":"emoncms-server","z":0,"server":"http://emoncms.org","name":"firstemon"},{"id":"99644fcf.d1a16","type":"modbus-client","z":"","name":"powertag","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.88","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":20,"clientTimeout":10000,"reconnectTimeout":12000},{"id":"694b47d3.746038","type":"mqtt-broker","z":"","name":"256ssd","broker":"localhost","port":"1883","clientid":"local-node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76014092.9eed78","type":"function","z":"3ec999c.d75af66","name":"Unit ID 155","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 155;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Laundry\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["2f27b1d4.52fe9e"]]},{"id":"55a3e031.53e088","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":361,"wires":[["edecaa1e.affb6","622dc39a.87d2dc"]]},{"id":"edecaa1e.affb6","type":"function","z":"3ec999c.d75af66","name":"Unit ID 151","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 151;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Solar\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":271,"wires":[["2f27b1d4.52fe9e"]]},{"id":"ea56ca0b.4ac24","type":"function","z":"3ec999c.d75af66","name":"Unit ID 152","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 152;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Stove\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":353,"wires":[["2f27b1d4.52fe9e"]]},{"id":"ebc74613.a6b8c8","type":"function","z":"3ec999c.d75af66","name":"Unit ID 153","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 153;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Waste\";\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":438,"wires":[["2f27b1d4.52fe9e"]]},{"id":"5a426df0.4e3fcc","type":"function","z":"3ec999c.d75af66","name":"Unit ID 154","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 154;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Lights\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":525,"wires":[["2f27b1d4.52fe9e"]]},{"id":"64ce340e.b728fc","type":"function","z":"3ec999c.d75af66","name":"Unit ID 156","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 156;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"A/C Living Room\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":681,"wires":[["2f27b1d4.52fe9e"]]},{"id":"11e3d88b.83864f","type":"function","z":"3ec999c.d75af66","name":"Unit ID 157","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 157;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Upstairs\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":768,"wires":[["2f27b1d4.52fe9e"]]},{"id":"aad6787.0ba4e88","type":"function","z":"3ec999c.d75af66","name":"Unit ID 158","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 158;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Kitchen\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":842,"wires":[["2f27b1d4.52fe9e"]]},{"id":"99a16aa8.4687e","type":"function","z":"3ec999c.d75af66","name":"Unit ID 159","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 159;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Hot Water\";\nreturn msg;\n","outputs":1,"noerr":0,"x":425,"y":916,"wires":[["2f27b1d4.52fe9e"]]},{"id":"622dc39a.87d2dc","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":401,"wires":[["ea56ca0b.4ac24","9a25dffe.253f2"]]},{"id":"9a25dffe.253f2","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":441,"wires":[["f2921e2f.b56d18","ebc74613.a6b8c8"]]},{"id":"f2921e2f.b56d18","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":481,"wires":[["5ab13583.c320c4","5a426df0.4e3fcc"]]},{"id":"5ab13583.c320c4","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":521,"wires":[["bbe19d70.f7b86","76014092.9eed78"]]},{"id":"bbe19d70.f7b86","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":561,"wires":[["64ce340e.b728fc","476df830.4081"]]},{"id":"476df830.4081","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":601,"wires":[["922716e1.76daa","11e3d88b.83864f"]]},{"id":"922716e1.76daa","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":641,"wires":[["519e55f3.c0e6ac","aad6787.0ba4e88"]]},{"id":"519e55f3.c0e6ac","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":681,"wires":[["99a16aa8.4687e"]]},{"id":"9fc395c2.c9bc38","type":"change","z":"9da8ce57.7a458","name":"Remove noise","rules":[{"t":"delete","p":"messageId","pt":"msg"},{"t":"delete","p":"delay","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"values","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.911865234375,"y":361.72100830078125,"wires":[[]]},{"id":"b2387614.783948","type":"comment","z":"6a127512.2ffb74","name":"Single Phase Map","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":456.5,"y":75,"wires":[]},{"id":"cf598267.08091","type":"comment","z":"3ec999c.d75af66","name":"Single Phase","info":"","x":1050,"y":400,"wires":[]},{"id":"5b98bed1.d7fe9","type":"comment","z":"3ec999c.d75af66","name":"Three Phase","info":"","x":1050,"y":540,"wires":[]},{"id":"bf7cf75f.68b6f8","type":"function","z":"d7593dad.f1865","name":"Current","func":"msg.payload = { \n    fc: 3,\n    unitid: msg.unitid,\n    address: 2999,\n    quantity: 2,\n};\nmsg.ptTopic = \"current\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[[]]},{"id":"f90c99c3.5f5648","type":"function","z":"d7593dad.f1865","name":"Voltage","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3027,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltage\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":300,"wires":[[]]},{"id":"a489834a.b7a28","type":"function","z":"d7593dad.f1865","name":"Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3053,\n    quantity: 2 \n};\nmsg.ptTopic = \"activePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[[]]},{"id":"4f10c41b.89aee4","type":"function","z":"d7593dad.f1865","name":"Total Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3203,\n    quantity: 4\n};\nmsg.uom = \"kWh\";\nmsg.ptTopic = \"totalActiveEnergy\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":400,"wires":[[]]},{"id":"c7dd4b3f.d86248","type":"function","z":"d7593dad.f1865","name":"Partial Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3255,\n    quantity: 4 \n};\nmsg.ptTopic = \"partialActiveEnergy\"\nmsg.dataType = \"int64\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":440,"wires":[[]]},{"id":"24fd6ae.07ac216","type":"function","z":"d7593dad.f1865","name":"Total Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3059,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalActivePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":520,"wires":[[]]},{"id":"1d12035d.7aabdd","type":"function","z":"d7593dad.f1865","name":"Total Power Factor","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3083,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalPowerFactor\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":560,"wires":[[]]},{"id":"7d9554c8.5dd424","type":"function","z":"d7593dad.f1865","name":"Volt Loss and Current Overload on Volt Loss","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltLoss\"\nmsg.dataType = \"uint\"\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.table});    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":600,"wires":[[]]},{"id":"a5ea0bd4.0b042","type":"function","z":"d7593dad.f1865","name":"Load Run Hour Counter","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3307,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"loadRunHourCounter\";\nmsg.dataType = \"uint32\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":760,"wires":[[]]},{"id":"e24a18a.ed5ade8","type":"comment","z":"d7593dad.f1865","name":"Three Phase Map **IN PROGRESS**","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":280,"y":100,"wires":[]},{"id":"8ea29a18.0c7898","type":"function","z":"d7593dad.f1865","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["dc966b7d.5f9388"]]},{"id":"c56f7d19.72732","type":"function","z":"d7593dad.f1865","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["24cab8af.979fb8"]]},{"id":"c7e0d1a3.f76f2","type":"function","z":"d7593dad.f1865","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":380,"wires":[[]]},{"id":"2f27b1d4.52fe9e","type":"switch","z":"3ec999c.d75af66","name":"Single / Three Phase gate","property":"phase","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":500,"wires":[[],[]]},{"id":"fea2122f.9d5358","type":"comment","z":"3ec999c.d75af66","name":"","info":"This can be squashed into a smaller function","x":605.5,"y":111,"wires":[]},{"id":"3dcc1a67.7f67ee","type":"function","z":"3ec999c.d75af66","name":"Unit ID 150","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 150;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\n\n\nmsg.phase = phase;\nmsg.name = \"Mains\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["2f27b1d4.52fe9e"]]},{"id":"724bb58a.9352a4","type":"switch","z":"601b96a4.60a33","name":"runHours","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"loadRunHourCounter","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":380,"wires":[[]]},{"id":"fd270db6.55d9d","type":"function","z":"d7593dad.f1865","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["47fe5ddd.109aa4"]]},{"id":"cac284d0.0b2008","type":"switch","z":"d7593dad.f1865","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"dc966b7d.5f9388","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"realTimeAnalog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["bf7cf75f.68b6f8","f90c99c3.5f5648","a489834a.b7a28","24fd6ae.07ac216","1d12035d.7aabdd","cac284d0.0b2008"]]},{"id":"47fe5ddd.109aa4","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["4f10c41b.89aee4","c7dd4b3f.d86248","a5ea0bd4.0b042"]]},{"id":"24cab8af.979fb8","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"334dbfac.29108","type":"comment","z":"d7593dad.f1865","name":"msg.table","info":"sets the table the data is written to in mysql;","x":560,"y":260,"wires":[]},{"id":"5b31b1aa.3c7a5","type":"function","z":"6a127512.2ffb74","name":"Current","func":"msg.payload = { \n    fc: 3,\n    unitid: msg.unitid,\n    address: 2999,\n    quantity: 2,\n};\nmsg.ptTopic = \"current\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[[]]},{"id":"8551badb.392118","type":"function","z":"6a127512.2ffb74","name":"Voltage","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3027,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltage\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":280,"wires":[[]]},{"id":"9cb2792a.02cf98","type":"function","z":"6a127512.2ffb74","name":"Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3053,\n    quantity: 2 \n};\nmsg.ptTopic = \"activePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[[]]},{"id":"ecd7c025.661cc","type":"function","z":"6a127512.2ffb74","name":"Total Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3203,\n    quantity: 4\n};\nmsg.uom = \"kWh\";\nmsg.ptTopic = \"totalActiveEnergy\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[[]]},{"id":"15888a82.f0f435","type":"function","z":"6a127512.2ffb74","name":"Partial Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3255,\n    quantity: 4 \n};\nmsg.ptTopic = \"partialActiveEnergy\"\nmsg.dataType = \"int64\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[[]]},{"id":"7633c46b.845adc","type":"function","z":"6a127512.2ffb74","name":"Total Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3059,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalActivePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":500,"wires":[[]]},{"id":"1ed67c51.428484","type":"function","z":"6a127512.2ffb74","name":"Total Power Factor","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3083,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalPowerFactor\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":540,"wires":[[]]},{"id":"e79f2373.3e774","type":"function","z":"6a127512.2ffb74","name":"Volt Loss and Current Overload on Volt Loss","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltLoss\"\nmsg.dataType = \"uint\"\nreturn msg;","outputs":1,"noerr":0,"x":1065,"y":580,"wires":[[]]},{"id":"a776edd3.304c2","type":"function","z":"6a127512.2ffb74","name":"Load Run Hour Counter","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3307,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"loadRunHourCounter\";\nmsg.dataType = \"uint32\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":740,"wires":[[]]},{"id":"ee551a2e.c4d2a8","type":"function","z":"6a127512.2ffb74","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["e920f040.8432f"]]},{"id":"65a8b68.b48f548","type":"function","z":"6a127512.2ffb74","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["1769aaa5.774835"]]},{"id":"dc045879.d56f58","type":"function","z":"6a127512.2ffb74","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":410,"y":360,"wires":[[]]},{"id":"7ec5a34d.7267dc","type":"function","z":"6a127512.2ffb74","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["cc8a77ce.5cc8d8"]]},{"id":"8650fe3c.96d9d","type":"switch","z":"6a127512.2ffb74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":180,"wires":[[]]},{"id":"e920f040.8432f","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"realTimeAnalog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["5b31b1aa.3c7a5","8551badb.392118","9cb2792a.02cf98","7633c46b.845adc","1ed67c51.428484","e79f2373.3e774","8650fe3c.96d9d"]]},{"id":"cc8a77ce.5cc8d8","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["ecd7c025.661cc","15888a82.f0f435"]]},{"id":"1769aaa5.774835","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["a776edd3.304c2"]]},{"id":"44d94de8.3dbff4","type":"comment","z":"6a127512.2ffb74","name":"msg.table","info":"sets the table the data is written to in mysql;","x":660,"y":240,"wires":[]},{"id":"266255dd.12feba","type":"function","z":"8ea7900.d31e2f","name":"Breaker Trip","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"mcbTrip\"\nmsg.dataType = \"uint\"\nreturn msg;\n// 0 = Normal, 1 = Voltage Lost, 2 = Breaker tripped on overcurrent.","outputs":1,"noerr":0,"x":810,"y":400,"wires":[[]]},{"id":"f957162a.973d38","type":"comment","z":"8ea7900.d31e2f","name":"Events **IN PROGRESS**","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":270,"y":140,"wires":[]},{"id":"5e70d827.a4d53","type":"function","z":"8ea7900.d31e2f","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["63ff762b.78fdb8"]]},{"id":"8e8f8d13.ac56f8","type":"function","z":"8ea7900.d31e2f","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":340,"y":500,"wires":[[]]},{"id":"9a6f2f3a.ffeea","type":"function","z":"8ea7900.d31e2f","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":330,"y":420,"wires":[[]]},{"id":"807617dd.e6fe28","type":"function","z":"8ea7900.d31e2f","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":330,"y":580,"wires":[[]]},{"id":"83b9a75b.04ad98","type":"switch","z":"8ea7900.d31e2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":240,"wires":[[]]},{"id":"63ff762b.78fdb8","type":"change","z":"8ea7900.d31e2f","name":"Set Table","rules":[{"t":"set","p":"table","pt":"msg","to":"events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["64554b89.bf67c4","266255dd.12feba","17dabfd8.10a2a","cb327dfa.a046f","ccc9e2d6.756f6"]]},{"id":"a35ff2a7.f5e2d","type":"comment","z":"8ea7900.d31e2f","name":"msg.table","info":"sets the table the data is written to in mysql;","x":580,"y":300,"wires":[]},{"id":"64554b89.bf67c4","type":"function","z":"8ea7900.d31e2f","name":"Valid","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3297,\n    quantity: 2 \n};\nmsg.ptTopic = \"data_valid\"\nmsg.dataType = \"uint\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[[]]},{"id":"17dabfd8.10a2a","type":"function","z":"8ea7900.d31e2f","name":"Load Run Hour Counter Last Reset","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3311,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"LOT\";\nmsg.dataType = \"IEC870-5-4\";\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":520,"wires":[[]]},{"id":"cb327dfa.a046f","type":"function","z":"8ea7900.d31e2f","name":"Power Threshold LOT","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3309,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"P_thresh_LOT\";\nmsg.dataType = \"float32\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":480,"wires":[[]]},{"id":"ccc9e2d6.756f6","type":"function","z":"8ea7900.d31e2f","name":"Partial Active Energy Reset","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3259,\n    quantity: 4\n};\nmsg.uom = \"Wh\";\nmsg.ptTopic = \"partialActiveEnergyReset\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":560,"wires":[[]]},{"id":"8b08eb2a.916eb","type":"debug","z":"2dcacc6c.5cb2b4","name":"","active":false,"console":"false","complete":"true","x":420,"y":90,"wires":[]},{"id":"4741adc7.7d57cc","type":"debug","z":"2dcacc6c.5cb2b4","name":"","active":true,"console":"false","complete":"false","x":530,"y":270,"wires":[]},{"id":"21f5921d.5fd95e","type":"debug","z":"2dcacc6c.5cb2b4","name":"","active":false,"console":"false","complete":"false","x":710,"y":210,"wires":[]},{"id":"dd593f60.9f48c8","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 155","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 155;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Laundry\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["3c1e1d99.033b12"]]},{"id":"a327186.3761e68","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":361,"wires":[["b4eed844.323d6","a23a30b4.6c4fb"]]},{"id":"80146f45.8a6eb","type":"subflow:bd98e068.a58fd8","z":"fa30308e.1452c","name":"","env":[],"x":370,"y":120,"wires":[["e5c80313.897d2","aba1f169.0212","d0deb38e.c7c9e"],["bcbb27a2.30cc38","aba1f169.0212","d0deb38e.c7c9e"]],"outputLabels":["Single Phase","Three Phase"]},{"id":"b4eed844.323d6","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 151","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 151;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Solar\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":271,"wires":[["3c1e1d99.033b12"]]},{"id":"92156011.2c4458","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 152","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 152;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Stove\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":353,"wires":[["3c1e1d99.033b12"]]},{"id":"fdbdf310.2355d","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 153","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 153;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Waste\";\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":438,"wires":[["3c1e1d99.033b12"]]},{"id":"63b77002.8c0ff8","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 154","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 154;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Lights\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":525,"wires":[["3c1e1d99.033b12"]]},{"id":"dcfa6392.5cfd48","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 156","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 156;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"A/C Living Room\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":681,"wires":[["3c1e1d99.033b12"]]},{"id":"77bb3f69.6aa94","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 157","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 157;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Upstairs\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":768,"wires":[["3c1e1d99.033b12"]]},{"id":"c4b8213a.2161b","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 158","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 158;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Kitchen\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":842,"wires":[["3c1e1d99.033b12"]]},{"id":"3084c7c.9a513b8","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 159","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 159;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Hot Water\";\nreturn msg;\n","outputs":1,"noerr":0,"x":425,"y":916,"wires":[["3c1e1d99.033b12"]]},{"id":"a23a30b4.6c4fb","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":401,"wires":[["92156011.2c4458","22de1369.53af7c"]]},{"id":"22de1369.53af7c","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":441,"wires":[["d8320884.557778","fdbdf310.2355d"]]},{"id":"d8320884.557778","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":481,"wires":[["386e6227.834e06","63b77002.8c0ff8"]]},{"id":"386e6227.834e06","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":521,"wires":[["940f9bff.cf8a1","dd593f60.9f48c8"]]},{"id":"940f9bff.cf8a1","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":561,"wires":[["dcfa6392.5cfd48","c65a7d3.af5838"]]},{"id":"c65a7d3.af5838","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":601,"wires":[["77e6d441.b543ec","77bb3f69.6aa94"]]},{"id":"77e6d441.b543ec","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":641,"wires":[["d14891b0.89988","c4b8213a.2161b"]]},{"id":"d14891b0.89988","type":"delay","z":"bd98e068.a58fd8","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":681,"wires":[["3084c7c.9a513b8"]]},{"id":"3223e772.ceafb8","type":"comment","z":"bd98e068.a58fd8","name":"Single Phase","info":"","x":1050,"y":400,"wires":[]},{"id":"183c013a.5a12df","type":"comment","z":"bd98e068.a58fd8","name":"Three Phase","info":"","x":1050,"y":540,"wires":[]},{"id":"adb6de5f.3cb258","type":"function","z":"966d0c4b.b1bf28","name":"Current","func":"msg.payload = { \n    fc: 3,\n    unitid: msg.unitid,\n    address: 2999,\n    quantity: 2,\n};\nmsg.ptTopic = \"current\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[[]]},{"id":"17051fd9.459228","type":"function","z":"966d0c4b.b1bf28","name":"Voltage","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3027,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltage\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":300,"wires":[[]]},{"id":"8b08d5d8.101b1","type":"function","z":"966d0c4b.b1bf28","name":"Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3053,\n    quantity: 2 \n};\nmsg.ptTopic = \"activePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[[]]},{"id":"4e3a5cf5.378b14","type":"function","z":"966d0c4b.b1bf28","name":"Total Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3203,\n    quantity: 4\n};\nmsg.uom = \"kWh\";\nmsg.ptTopic = \"totalActiveEnergy\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":400,"wires":[[]]},{"id":"978b0393.46c3f","type":"function","z":"966d0c4b.b1bf28","name":"Partial Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3255,\n    quantity: 4 \n};\nmsg.ptTopic = \"partialActiveEnergy\"\nmsg.dataType = \"int64\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":440,"wires":[[]]},{"id":"a0f79848.f4fdd8","type":"function","z":"966d0c4b.b1bf28","name":"Total Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3059,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalActivePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":520,"wires":[[]]},{"id":"c10a94fc.eaadd8","type":"function","z":"966d0c4b.b1bf28","name":"Total Power Factor","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3083,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalPowerFactor\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":560,"wires":[[]]},{"id":"fdce8d7e.67385","type":"function","z":"966d0c4b.b1bf28","name":"Volt Loss and Current Overload on Volt Loss","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltLoss\"\nmsg.dataType = \"uint\"\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.table});    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":600,"wires":[[]]},{"id":"bdef2e41.eaa7b8","type":"function","z":"966d0c4b.b1bf28","name":"Load Run Hour Counter","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3307,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"loadRunHourCounter\";\nmsg.dataType = \"uint32\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":760,"wires":[[]]},{"id":"7f3daccb.ae280c","type":"comment","z":"966d0c4b.b1bf28","name":"Three Phase Map **IN PROGRESS**","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":280,"y":100,"wires":[]},{"id":"a334f14b.e334f","type":"function","z":"966d0c4b.b1bf28","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["44f714b0.2b075c"]]},{"id":"79a61218.20a8bc","type":"function","z":"966d0c4b.b1bf28","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["6942f84b.b9a3e8"]]},{"id":"4152a17d.4e293","type":"function","z":"966d0c4b.b1bf28","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":380,"wires":[[]]},{"id":"bcbb27a2.30cc38","type":"subflow:966d0c4b.b1bf28","z":"fa30308e.1452c","name":"","env":[],"x":630,"y":140,"wires":[["9ab4484c.a84938"]]},{"id":"3c1e1d99.033b12","type":"switch","z":"bd98e068.a58fd8","name":"Single / Three Phase gate","property":"phase","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":500,"wires":[[],[]]},{"id":"4fc4f705.47f968","type":"comment","z":"bd98e068.a58fd8","name":"","info":"This can be squashed into a smaller function","x":605.5,"y":111,"wires":[]},{"id":"e5c80313.897d2","type":"subflow:6a127512.2ffb74","z":"fa30308e.1452c","name":"","x":630,"y":100,"wires":[["9ab4484c.a84938"]]},{"id":"aca658fc.a08d","type":"switch","z":"edf56d3b.73c47","name":"Current","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"current","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":120,"wires":[["acde3447.b871a"]]},{"id":"999fd493.8dc7e8","type":"switch","z":"edf56d3b.73c47","name":"Voltage","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"voltage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":160,"wires":[["8baf113.6319df"]]},{"id":"9e97c0f7.d8e27","type":"switch","z":"edf56d3b.73c47","name":"runHours","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"loadRunHourCounter","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":720,"wires":[["b027ef70.2e4408"]]},{"id":"acde3447.b871a","type":"switch","z":"edf56d3b.73c47","name":"Current","property":"unitid","propertyType":"msg","rules":[{"t":"btwn","v":"150","vt":"num","v2":"151","v2t":"num"},{"t":"btwn","v":"151","vt":"num","v2":"160","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":120,"wires":[["89af3eec.938818"],["2e533257.29d346"]]},{"id":"8baf113.6319df","type":"switch","z":"edf56d3b.73c47","name":"Mains only","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"159","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["80a15669.03af5"],["59645ac.53e2224"]]},{"id":"fc894192.0e0b7","type":"switch","z":"edf56d3b.73c47","name":"Power","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"activePower","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":200,"wires":[["5a92d1fb.523d8"]]},{"id":"5a92d1fb.523d8","type":"switch","z":"edf56d3b.73c47","name":"exclude mains","property":"unitid","propertyType":"msg","rules":[{"t":"btwn","v":"151","vt":"num","v2":"159","v2t":"num"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":220,"wires":[[],[],["e7ff5066.e239f8"],["e7ff5066.e239f8"]],"outputLabels":["","","Usage","Solar"]},{"id":"b027ef70.2e4408","type":"switch","z":"edf56d3b.73c47","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":430,"y":720,"wires":[["b989fdf2.9a991"],["58fc657c.7a1c04"],["2be66e43.3b257a"],["914bb517.d11f7"],["89da9cf1.a46ab8"],["647f66b4.541be8"],["612d41f6.da115"],["610769bc.932308"],["6a720f5.8174bf"],["c0b8ba01.0f6218"]]},{"id":"b55ee188.52d8b","type":"link in","z":"edf56d3b.73c47","name":"toCharts","links":["883e7328.4560c8","d8688732.dbcfd"],"x":100,"y":340,"wires":[["aca658fc.a08d","999fd493.8dc7e8","fc894192.0e0b7","9e97c0f7.d8e27","5767e9f.6267b18","9b0c2e4a.ec14f"]]},{"id":"aaf5934a.59d71","type":"change","z":"fa30308e.1452c","name":"cascadeDelay","rules":[{"t":"set","p":"delay","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":120,"wires":[["80146f45.8a6eb"]]},{"id":"1162074f.ae7601","type":"function","z":"bd98e068.a58fd8","name":"Unit ID 150","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 150;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\n\n\nmsg.phase = phase;\nmsg.name = \"Mains\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["3c1e1d99.033b12"]]},{"id":"62465cd4.34b024","type":"link in","z":"f9e52348.05af9","name":"energyRecord","links":["883e7328.4560c8","d8688732.dbcfd"],"x":235,"y":100,"wires":[["6c00f0e5.8103a8"]],"outputLabels":["From Modbus"]},{"id":"a980ae24.e7b4f8","type":"link out","z":"bf447e2a.727cb","name":"timerOut","links":["cf47e151.5f9fd8","274b6cbd.7c0564"],"x":1515,"y":160,"wires":[]},{"id":"cf47e151.5f9fd8","type":"link in","z":"fa30308e.1452c","name":"","links":["a980ae24.e7b4f8"],"x":55,"y":120,"wires":[["aaf5934a.59d71"]]},{"id":"f0e7c758.eb376","type":"inject","z":"bf447e2a.727cb","name":"Fast Timer","topic":"fast","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"10","x":370,"y":120,"wires":[["18f1e33c.4f7e3d","d3bee088.999788"]]},{"id":"8f60f581.7c5ec8","type":"inject","z":"bf447e2a.727cb","name":"Slow Timer","topic":"slow","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":true,"onceDelay":"1","x":370,"y":200,"wires":[["c0daf938.ef6f98","d3bee088.999788"]]},{"id":"4e7f8531.9dc4cc","type":"inject","z":"bf447e2a.727cb","name":"Medium Timer","topic":"medium","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":"1","x":380,"y":160,"wires":[["722ea0fe.eba5a8","d3bee088.999788"]]},{"id":"60ea910c.749888","type":"switch","z":"f9e52348.05af9","name":"Filter for totalActiveEnergy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":320,"wires":[["2a5b3f80.432258"]]},{"id":"b5e16eac.2477","type":"debug","z":"bf447e2a.727cb","name":"global","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":560,"wires":[]},{"id":"df82b5cb.43cdc","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":380,"wires":[["a18d21c4.e678b8"]]},{"id":"d0ded975.636c58","type":"function","z":"bf447e2a.727cb","name":"readGlobal","func":"var gDay = global.get(\"day\");\nvar gHour = global.get(\"hour\");\nvar gMin = global.get(\"minute\");\nvar a = 10\nvar b = a * 1.2\n\nmsg.payload = [gDay, gHour, gMin, a, b, ];\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["f4bddc48.f5c498"]]},{"id":"c60a4752.4542a8","type":"inject","z":"bf447e2a.727cb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":560,"wires":[["d0ded975.636c58"]]},{"id":"2914dd11.b39f2a","type":"function","z":"bf447e2a.727cb","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["df82b5cb.43cdc"]]},{"id":"b960bf1f.cdbae8","type":"inject","z":"bf447e2a.727cb","name":"On the hour","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":"1","x":150,"y":340,"wires":[["25d36b3a.6a039c","dc6c369.69b3048","f0e1a457.05366"]]},{"id":"683de93.e308718","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":420,"wires":[["15933830.454348"]]},{"id":"9dd53e12.ca468","type":"function","z":"bf447e2a.727cb","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["683de93.e308718"]]},{"id":"fbfefc34.5fa6","type":"rbe","z":"bf447e2a.727cb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":420,"wires":[["9dd53e12.ca468"]]},{"id":"45815cba.35ee2c","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":340,"wires":[["e629e8e5.5131"]]},{"id":"a361573a.a9284","type":"function","z":"bf447e2a.727cb","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["45815cba.35ee2c"]]},{"id":"b80e43e7.dda95","type":"rbe","z":"bf447e2a.727cb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":340,"wires":[["a361573a.a9284"]]},{"id":"bfc9a929.20c8f8","type":"comment","z":"bf447e2a.727cb","name":"Read Global Data","info":"","x":370,"y":500,"wires":[]},{"id":"734571a1.8fe2f","type":"comment","z":"bf447e2a.727cb","name":"Make Day, Hour, Minute available to all","info":"Moment sends a number for the Day, \nhour or Minute as payload.\n\nGlobal is set to make it accessible \nto rest of program.\n\nChange changes d/m/h to msg.trigger, \nsets payload to 0","x":430,"y":300,"wires":[]},{"id":"29915dce.b98efa","type":"comment","z":"bf447e2a.727cb","name":"Set's Modbus Poll Rates","info":"","x":390,"y":80,"wires":[]},{"id":"5767e9f.6267b18","type":"switch","z":"edf56d3b.73c47","name":"Total Energy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["87eeaed6.4b0ba"]]},{"id":"ee149f49.08774","type":"switch","z":"edf56d3b.73c47","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":810,"y":440,"wires":[["3f1ed58e.b3498a"],["f75c046b.0028e8"],["9a442c1b.68b15"],["6c319a73.ea410c"],["e1c56590.1c11"],["d1e8c68c.357638"],["bb4e0592.e69218"],["a335067b.93feb"],["a2b3ab68.caab08"],["44e7662b.5009b"]]},{"id":"2a5b3f80.432258","type":"switch","z":"f9e52348.05af9","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":850,"y":320,"wires":[["b0a35a94.c0a778"],["c0d624b0.7af608"],["15bced1.14bcd13"],["e66f60a1.9c54c"],["3c8394d1.d4e554"],["8cc1d3a.9c10d3"],["dc3ae5c4.f0bfa"],["61ed2f13.cbe5b8"],["6965aec9.bb26b8"],["e1738cb8.d0e608"]]},{"id":"b0a35a94.c0a778","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[["680b941b.1cc12c","1c61b3ca.adaf8c"]]},{"id":"e1738cb8.d0e608","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":500,"wires":[["3987d58.fb912aa"]]},{"id":"6965aec9.bb26b8","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":460,"wires":[["9b45bd6e.95fd28"]]},{"id":"61ed2f13.cbe5b8","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":420,"wires":[["c7342e6b.5f82a"]]},{"id":"dc3ae5c4.f0bfa","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":380,"wires":[["8ee83d3f.ee63"]]},{"id":"c0d624b0.7af608","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":180,"wires":[["7f2ea80e.61ec1"]]},{"id":"15bced1.14bcd13","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":220,"wires":[["a44d538.d8ef53"]]},{"id":"e66f60a1.9c54c","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["7016685c.473238"]]},{"id":"3c8394d1.d4e554","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":300,"wires":[["a632c12.a19bd4"]]},{"id":"8cc1d3a.9c10d3","type":"function","z":"f9e52348.05af9","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":340,"wires":[["8d344462.bdd0a"]]},{"id":"87eeaed6.4b0ba","type":"function","z":"edf56d3b.73c47","name":"","func":"var kwh = (msg.payload);\nmsg.payload = kwh.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["ee149f49.08774"]]},{"id":"1c61b3ca.adaf8c","type":"function","z":"f9e52348.05af9","name":"Round","func":"var kwh = parseInt(msg.payload).toFixed(2);\n\nmsg.payload = kwh;\nreturn msg;\n","outputs":1,"noerr":0,"x":1230,"y":80,"wires":[["33f1b78d.f8d698"]]},{"id":"e12e265a.275cb","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"day","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"day","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["a980ae24.e7b4f8","3f878df7.001532"]]},{"id":"a18d21c4.e678b8","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"hour","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"hour","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":380,"wires":[["5adef23a.2438c4","a980ae24.e7b4f8","3f878df7.001532"]]},{"id":"15933830.454348","type":"change","z":"bf447e2a.727cb","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"minute","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"minute","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":420,"wires":[["c9681907.1b39a","a980ae24.e7b4f8","3f878df7.001532"]]},{"id":"6a8448e3.e8f908","type":"function","z":"966d0c4b.b1bf28","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["4a6d6daf.16e09c"]]},{"id":"6c00f0e5.8103a8","type":"switch","z":"f9e52348.05af9","name":"Filter for trigger","property":"trigger","propertyType":"msg","rules":[{"t":"eq","v":"hour","vt":"str"},{"t":"eq","v":"day","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":100,"wires":[["60ea910c.749888"],["7a4234bd.b97d6c"]]},{"id":"b31cd822.d8e9f","type":"switch","z":"f9e52348.05af9","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":850,"y":740,"wires":[["13e5ba02.a7b556"],["6c9c2815.c7bd48"],["d210361b.3b05a8"],["371c7540.6bd8aa"],["57737400.611124"],["c19a6849.9fbf1"],["681904da.a2eef4"],["c3cfd2c2.7c979"],["78dae4c.5e29d1c"],["e4227ff4.7686b8"]]},{"id":"13e5ba02.a7b556","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay')|| 0;\n\nvar lastDay = context.get('thisDay')||0;\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":560,"wires":[["d80a037c.c7b33"]]},{"id":"7a4234bd.b97d6c","type":"switch","z":"f9e52348.05af9","name":"Filter for totalActiveEnergy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":740,"wires":[["b31cd822.d8e9f"]]},{"id":"6c9c2815.c7bd48","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":600,"wires":[["f16dcc3f.bc72d8"]]},{"id":"d210361b.3b05a8","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":640,"wires":[["12336d16.cbc97b"]]},{"id":"371c7540.6bd8aa","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":680,"wires":[["43748906.41c03"]]},{"id":"57737400.611124","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":720,"wires":[["9c079d1d.3ada88"]]},{"id":"c19a6849.9fbf1","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":760,"wires":[["d62801c0.6c992"]]},{"id":"681904da.a2eef4","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":800,"wires":[["c061aa62.979788"]]},{"id":"c3cfd2c2.7c979","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":840,"wires":[["a13fdfe.73d79a"]]},{"id":"78dae4c.5e29d1c","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":880,"wires":[["19c6ca12.a19916"]]},{"id":"e4227ff4.7686b8","type":"function","z":"f9e52348.05af9","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":920,"wires":[["64c62f9.47b7d5"]]},{"id":"6bb889bc.a5e278","type":"function","z":"bf447e2a.727cb","name":"readGlobal","func":"var random = msg.payload;\nvar a = 1 * random;\nvar b = 2 * random;\nvar c = a * b;\nvar d = b / a * c;\nvar arr = [a, b];\nvar arr1 = [c, d]\n\nmsg.payload = arr;\nmsg.col1 = arr1;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["f4bddc48.f5c498"]]},{"id":"2bae6782.a0963","type":"inject","z":"bf447e2a.727cb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":600,"wires":[["5ddfb2f8.fa9d3c"]]},{"id":"6db4d4e4.b27a9c","type":"rbe","z":"bf447e2a.727cb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":380,"wires":[["2914dd11.b39f2a"]]},{"id":"9305ba5a.ca9918","type":"inject","z":"bf447e2a.727cb","name":"Test","topic":"","payload":"2535937674235","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":130,"y":420,"wires":[["dc6c369.69b3048","25d36b3a.6a039c","f0e1a457.05366"]]},{"id":"d3bee088.999788","type":"change","z":"bf447e2a.727cb","name":"change to timestamp","rules":[{"t":"move","p":"payload","pt":"msg","to":"timeStamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":160,"wires":[["a980ae24.e7b4f8","3f878df7.001532"]]},{"id":"2a11f165.323d1e","type":"switch","z":"966d0c4b.b1bf28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"aba1f169.0212","type":"debug","z":"fa30308e.1452c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":60,"wires":[]},{"id":"44f714b0.2b075c","type":"change","z":"966d0c4b.b1bf28","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"realTimeAnalog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["adb6de5f.3cb258","17051fd9.459228","8b08d5d8.101b1","a0f79848.f4fdd8","c10a94fc.eaadd8","2a11f165.323d1e"]]},{"id":"4a6d6daf.16e09c","type":"change","z":"966d0c4b.b1bf28","name":"Set to Totaliser","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["4e3a5cf5.378b14","978b0393.46c3f","bdef2e41.eaa7b8"]]},{"id":"6942f84b.b9a3e8","type":"change","z":"966d0c4b.b1bf28","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"40d599f4.e517c8","type":"comment","z":"966d0c4b.b1bf28","name":"msg.table","info":"sets the table the data is written to in mysql;","x":560,"y":260,"wires":[]},{"id":"18f1e33c.4f7e3d","type":"link out","z":"bf447e2a.727cb","name":"fastOut","links":["20d44f01.47114","5462918e.ad4828","1dc79ab0.a956ad","1dc79ab0.a956ad"],"x":720,"y":120,"wires":[]},{"id":"df093408.6a21f8","type":"debug","z":"a54dc71.22638b8","name":"realtime","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":1160,"y":460,"wires":[]},{"id":"6999467c.67f69","type":"function","z":"a54dc71.22638b8","name":"Change to SQL Query","func":"msg.topic = \"INSERT INTO `realTimeAnalog`(`unit_id`, `I_A`, `I_B`, `I_C`, `V_AB`, `V_BC`, `V_CA`, `V_A`, `V_B`, `V_C`, `P_A`, `P_B`, `P_C`, `P_T`, `PF`, `timestamp`) VALUES (\" + msg.unitid + \",\" + msg.payload.current + \",0,0,0,0,0,\" + msg.payload.voltage + \",0,0,\" + msg.payload.activePower + \",0,0,\" + msg.payload.totalActivePower + \",\" + msg.payload.totalPowerFactor + \",\" + (msg.timeStamp/1000) + \")\";\n\n//trialemon\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["df093408.6a21f8","d64c32c3.2a9808"]]},{"id":"86d1304b.abecb8","type":"comment","z":"a54dc71.22638b8","name":"to mySQL","info":"","x":1160,"y":360,"wires":[]},{"id":"f9e3e580.acedd","type":"switch","z":"a54dc71.22638b8","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":480,"y":280,"wires":[["59c3124c.a2e1fc"],["89a9f15a.5a677"],["d6805746.45dc18"],["2453a273.83939e"],["ed8e4eec.b09fc"],["fe42e3b8.c29dd"],["8ffa8a0a.13aed"],["9980069a.d567"],["88e2e559.cf0fc8"]]},{"id":"8ffa8a0a.13aed","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":460,"wires":[["6999467c.67f69"]]},{"id":"d7f54a0c.9fb2f8","type":"switch","z":"a54dc71.22638b8","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"realTimeAnalog","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":220,"wires":[["f9e3e580.acedd"]]},{"id":"5462918e.ad4828","type":"link in","z":"a54dc71.22638b8","name":"fastIn","links":["18f1e33c.4f7e3d"],"x":155,"y":440,"wires":[["7034f93f.bc46b"]]},{"id":"7034f93f.bc46b","type":"change","z":"a54dc71.22638b8","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["8ffa8a0a.13aed","59c3124c.a2e1fc","89a9f15a.5a677","d6805746.45dc18","2453a273.83939e","ed8e4eec.b09fc","fe42e3b8.c29dd","9980069a.d567","88e2e559.cf0fc8"]]},{"id":"59c3124c.a2e1fc","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":220,"wires":[["6999467c.67f69"]]},{"id":"89a9f15a.5a677","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":260,"wires":[["6999467c.67f69"]]},{"id":"d6805746.45dc18","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":300,"wires":[["6999467c.67f69"]]},{"id":"2453a273.83939e","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":340,"wires":[["6999467c.67f69"]]},{"id":"ed8e4eec.b09fc","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":380,"wires":[["6999467c.67f69"]]},{"id":"fe42e3b8.c29dd","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":420,"wires":[["6999467c.67f69"]]},{"id":"9980069a.d567","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":500,"wires":[["6999467c.67f69"]]},{"id":"88e2e559.cf0fc8","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":540,"wires":[["6999467c.67f69"]]},{"id":"903db1e9.20bf78","type":"link in","z":"a54dc71.22638b8","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","d8688732.dbcfd"],"x":155,"y":220,"wires":[["d7f54a0c.9fb2f8","e3799d23.c2bc7"]]},{"id":"3bd23c04.b73e5c","type":"comment","z":"a54dc71.22638b8","name":"msg.complete","info":"First commnad of each fast cycle.\nTriggers the sending of the Join data.\nThe join takes multiple messages and puts it into one object.","x":210,"y":400,"wires":[]},{"id":"c15ced13.de97d8","type":"comment","z":"a54dc71.22638b8","name":"Real Time Data table","info":"","x":230,"y":120,"wires":[]},{"id":"7ed4b5ca.71a37c","type":"comment","z":"a54dc71.22638b8","name":"Totalisers","info":"","x":200,"y":660,"wires":[]},{"id":"32d08ec4.f58c7a","type":"debug","z":"a54dc71.22638b8","name":"toSQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":980,"wires":[]},{"id":"582f0611.8a2108","type":"function","z":"a54dc71.22638b8","name":"Change to SQL Query","func":"msg.topic = \"INSERT INTO `totalisers`(`unit_id`, `total_energy`, `partial_energy`, `LOT`) VALUES (\" + msg.unitid + \",\" + msg.payload.totalActiveEnergy + \",\" + msg.payload.partialActiveEnergy + \",\" + msg.payload.loadRunHourCounter + \")\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["32d08ec4.f58c7a","64a797c0.ca2fd8","d64c32c3.2a9808"]]},{"id":"58b6275.82859d8","type":"comment","z":"a54dc71.22638b8","name":"to mySQL","info":"","x":1160,"y":880,"wires":[]},{"id":"a61f34da.be2aa8","type":"switch","z":"a54dc71.22638b8","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":480,"y":800,"wires":[["e05e799d.b42aa8"],["e4d7492f.42801"],["f2554495.82bd2"],["a89fa86a.8dbb68"],["79adf35f.bb1294"],["bb28751a.6dd2d"],["6eab077c.c7a688"],["1f842d52.340a33"],["d952dc66.680c18"]]},{"id":"6eab077c.c7a688","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":980,"wires":[["582f0611.8a2108"]]},{"id":"5b42f4e7.d0f584","type":"switch","z":"a54dc71.22638b8","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"totalisers","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":740,"wires":[["a61f34da.be2aa8"]]},{"id":"ad2e4b9a.48bd78","type":"link in","z":"a54dc71.22638b8","name":"mediumIn","links":["722ea0fe.eba5a8"],"x":155,"y":960,"wires":[["95a787a9.9c3b08"]]},{"id":"c6737565.ff61e8","type":"change","z":"a54dc71.22638b8","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":960,"wires":[["6eab077c.c7a688","e05e799d.b42aa8","e4d7492f.42801","f2554495.82bd2","a89fa86a.8dbb68","79adf35f.bb1294","bb28751a.6dd2d","1f842d52.340a33","d952dc66.680c18"]]},{"id":"e05e799d.b42aa8","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":740,"wires":[["582f0611.8a2108"]]},{"id":"e4d7492f.42801","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":780,"wires":[["582f0611.8a2108"]]},{"id":"f2554495.82bd2","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":820,"wires":[["582f0611.8a2108"]]},{"id":"a89fa86a.8dbb68","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":860,"wires":[["582f0611.8a2108"]]},{"id":"79adf35f.bb1294","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":900,"wires":[["582f0611.8a2108"]]},{"id":"bb28751a.6dd2d","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":940,"wires":[["582f0611.8a2108"]]},{"id":"1f842d52.340a33","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1020,"wires":[["582f0611.8a2108"]]},{"id":"d952dc66.680c18","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1060,"wires":[["582f0611.8a2108"]]},{"id":"60df67b5.d2c8b8","type":"link in","z":"a54dc71.22638b8","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","d8688732.dbcfd"],"x":155,"y":740,"wires":[["5b42f4e7.d0f584"]]},{"id":"98da608b.4725a8","type":"comment","z":"a54dc71.22638b8","name":"msg.complete","info":"delay is for 10sec after medium timer triggers.\nThis is to allow time for join to get data\nand then send on to mySQL","x":210,"y":920,"wires":[]},{"id":"722ea0fe.eba5a8","type":"link out","z":"bf447e2a.727cb","name":"mediumOut","links":["ad2e4b9a.48bd78"],"x":715,"y":160,"wires":[]},{"id":"95a787a9.9c3b08","type":"delay","z":"a54dc71.22638b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":960,"wires":[["c6737565.ff61e8"]]},{"id":"a3012272.b122a","type":"comment","z":"a54dc71.22638b8","name":"Events","info":"","x":190,"y":1140,"wires":[]},{"id":"c117e7bb.550cc","type":"debug","z":"a54dc71.22638b8","name":"toSQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":1460,"wires":[]},{"id":"e7f43a11.b3fd3","type":"function","z":"a54dc71.22638b8","name":"Change to SQL Query","func":"// msg.topic = \"INSERT INTO `realTimeAnalog`(`unit_id`, `I_A`, `I_B`, `I_C`, `V_AB`, `V_BC`, `V_CA`, `V_A`, `V_B`, `V_C`, `P_A`, `P_B`, `P_C`, `P_T`, `PF`) VALUES (\" + msg.unitid + \",\" + msg.payload.current + \",0,0,0,0,0,\" + msg.payload.voltage + \",0,0,\" + msg.payload.activePower + \",0,0,\" + msg.payload.totalActivePower + \",\" + msg.payload.totalPowerFactor + \")\";\nmsg.topic = \"INSERT INTO `events`(`unit_id`, `energy_reset`, `data_valid`, `volt_loss`, `overcurrent_trip`, `P_thresh_LOT`) VALUES (\" + msg.unitid + \",\" + msg.payload.partialActiveEnergyReset + \",\" + msg.payload.voltLoss + \",\" + msg.payload.currentOverload + \",\" + msg.payload.P_thresh_LOT + \")\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":1400,"wires":[["c117e7bb.550cc"]]},{"id":"45086b92.f3295c","type":"comment","z":"a54dc71.22638b8","name":"to mySQL","info":"","x":1160,"y":1360,"wires":[]},{"id":"67bf5495.874474","type":"switch","z":"a54dc71.22638b8","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"},{"t":"eq","v":"159","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":480,"y":1280,"wires":[["a0effb48.efcb3"],["150d4add.1b189d"],["1e516c0e.ec0294"],["9792ad21.26de98"],["412776e2.287568"],["183a70d1.da8fa7"],["2664d70b.994608"],["64f4c8d2.d711c8"],["a1c71974.fdd6c"],["aee95e97.a7bb"]]},{"id":"2664d70b.994608","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1460,"wires":[["e7f43a11.b3fd3"]]},{"id":"c0aea665.9d7ea8","type":"switch","z":"a54dc71.22638b8","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"events","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1220,"wires":[["d9eb3f5d.7a6d4","67bf5495.874474"]]},{"id":"1dc79ab0.a956ad","type":"link in","z":"a54dc71.22638b8","name":"slowin","links":["18f1e33c.4f7e3d"],"x":155,"y":1440,"wires":[["4fbe9236.3fbc9c"]]},{"id":"69bda7c1.9a5398","type":"change","z":"a54dc71.22638b8","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1440,"wires":[["2664d70b.994608","a0effb48.efcb3","150d4add.1b189d","1e516c0e.ec0294","9792ad21.26de98","412776e2.287568","183a70d1.da8fa7","64f4c8d2.d711c8","a1c71974.fdd6c","aee95e97.a7bb"]]},{"id":"a0effb48.efcb3","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1220,"wires":[["e7f43a11.b3fd3"]]},{"id":"150d4add.1b189d","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1260,"wires":[["e7f43a11.b3fd3"]]},{"id":"1e516c0e.ec0294","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1300,"wires":[["e7f43a11.b3fd3"]]},{"id":"9792ad21.26de98","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1340,"wires":[["e7f43a11.b3fd3"]]},{"id":"412776e2.287568","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1380,"wires":[["e7f43a11.b3fd3"]]},{"id":"183a70d1.da8fa7","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1420,"wires":[["e7f43a11.b3fd3"]]},{"id":"64f4c8d2.d711c8","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1500,"wires":[["e7f43a11.b3fd3"]]},{"id":"b70d041f.284e9","type":"link in","z":"a54dc71.22638b8","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","d8688732.dbcfd"],"x":155,"y":1220,"wires":[["c0aea665.9d7ea8"]]},{"id":"d9c84231.79f76","type":"comment","z":"a54dc71.22638b8","name":"msg.complete","info":"delay is for 10sec after medium timer triggers.\nThis is to allow time for join to get data\nand then send on to mySQL","x":210,"y":1400,"wires":[]},{"id":"4fbe9236.3fbc9c","type":"delay","z":"a54dc71.22638b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1440,"wires":[["69bda7c1.9a5398"]]},{"id":"c0daf938.ef6f98","type":"link out","z":"bf447e2a.727cb","name":"slowOut","links":[],"x":715,"y":200,"wires":[]},{"id":"d9eb3f5d.7a6d4","type":"debug","z":"a54dc71.22638b8","name":"afterFilter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":1180,"wires":[]},{"id":"cb9a55ad.c81d58","type":"debug","z":"a54dc71.22638b8","name":"159 vl","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":1220,"wires":[]},{"id":"a1c71974.fdd6c","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1540,"wires":[["e7f43a11.b3fd3"]]},{"id":"aee95e97.a7bb","type":"join","z":"a54dc71.22638b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1580,"wires":[["e7f43a11.b3fd3","cb9a55ad.c81d58"]]},{"id":"d0deb38e.c7c9e","type":"subflow:8ea7900.d31e2f","z":"fa30308e.1452c","name":"","x":580,"y":180,"wires":[["9ab4484c.a84938"]]},{"id":"74036c25.bf0444","type":"debug","z":"fa30308e.1452c","name":"buffer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1200,"y":120,"wires":[]},{"id":"abd9c7e6.48e05","type":"function","z":"826fea5b.3c9338","name":"extract buffer data and make data readable","func":"var msg1 = {};\n\n//Change Hex to a real number\n\nif (msg.dataType === \"uint32\") {\n    msg.payload = ((msg.payload.buffer.readUInt32BE(0,4))).toFixed(2);\n    return [ msg, null ];\n}\n\nif (msg.dataType === \"float32\") {\n   msg.payload = msg.payload.buffer.readFloatBE(0,4).toFixed(2);\n    return [ msg, null ];\n}\n\nif (msg.dataType === \"int64\") {\n   msg.payload = (((((msg.payload.data[0] * 65536 ) + msg.payload.data[1] ) * 65536 ) + msg.payload.data[2] ) * 65536 + msg.payload.data[3])/1000;\n    return [ msg, null ];\n}\n//change Run Count from seconds to hours\nif (msg.ptTopic === \"loadRunHourCounter\") {\n    var secToHour = (realValue / 3600).toFixed(0);\n    msg.payload = secToHour;\n    return [ msg, null ];\n}\n\n// 0= Normal, 1 = Volt Loss, 2 = Overcurrent Trip\nif (msg.ptTopic === \"mcbTrip\") {\n    msg.payload = msg.payload.buffer.readUIntBE(0,4);\n    return [ null, msg ];\n    }\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.unitid});  \n\n//Change kWh to 1D.P.\n//if (msg.ptTopic === \"totalActiveEnergy\") {\n//    var secToHour = (realValue).toFixed(1);\n//    realValue = secToHour;\n//}\n","outputs":2,"noerr":0,"x":330,"y":160,"wires":[["638481e4.af0078"],["8ba591fe.196ef8"]]},{"id":"9a99aafe.57dfd8","type":"mqtt out","z":"826fea5b.3c9338","name":"","topic":"","qos":"0","retain":"","broker":"694b47d3.746038","x":1070,"y":120,"wires":[]},{"id":"f2bb2911.320038","type":"function","z":"826fea5b.3c9338","name":"Add MQTT Topic","func":"\nmsg.topic = \"powerTag/\" + msg.unitid + \"/\" + msg.ptTopic;\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["9a99aafe.57dfd8","ed677cc.c0b758"]]},{"id":"d8688732.dbcfd","type":"link out","z":"826fea5b.3c9338","name":"cleanData","links":["62465cd4.34b024","b70d041f.284e9","60df67b5.d2c8b8","903db1e9.20bf78","b55ee188.52d8b"],"x":815,"y":300,"wires":[]},{"id":"6a9399d6.0e2ec8","type":"comment","z":"826fea5b.3c9338","name":"Clean Data Output","info":"Sends clean data to:\n- program\n- mySQL\n","x":890,"y":240,"wires":[]},{"id":"4b11b425.8b0bec","type":"comment","z":"826fea5b.3c9338","name":"to MQTT","info":"","x":860,"y":120,"wires":[]},{"id":"8ba591fe.196ef8","type":"switch","z":"826fea5b.3c9338","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":340,"wires":[["11616b14.d0f91d"],["553a5824.754e28"],["ca1c6606.5bbdf8"]],"outputLabels":["Normal","Volt Loss","Overcurrent Trip"]},{"id":"32f0b58e.d2e172","type":"comment","z":"826fea5b.3c9338","name":"MCB Status","info":"Changes data to show Normal, \nVolt loss or Overcurrent Trip","x":130,"y":280,"wires":[]},{"id":"a935c8fe.e6562","type":"link in","z":"826fea5b.3c9338","name":"to Human Data","links":["3c2404ff.6e3f74"],"x":115,"y":160,"wires":[["abd9c7e6.48e05"]]},{"id":"3c2404ff.6e3f74","type":"link out","z":"fa30308e.1452c","name":"hex data","links":["a935c8fe.e6562"],"x":1175,"y":180,"wires":[]},{"id":"11616b14.d0f91d","type":"change","z":"826fea5b.3c9338","name":"Normal","rules":[{"t":"set","p":"description","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["638481e4.af0078"]]},{"id":"553a5824.754e28","type":"change","z":"826fea5b.3c9338","name":"Volt Loss","rules":[{"t":"set","p":"description","pt":"msg","to":"Volt Loss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["638481e4.af0078"]]},{"id":"ca1c6606.5bbdf8","type":"change","z":"826fea5b.3c9338","name":"Overcurrent Trip","rules":[{"t":"set","p":"description","pt":"msg","to":"Over-current Trip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["638481e4.af0078"]]},{"id":"638481e4.af0078","type":"switch","z":"826fea5b.3c9338","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":220,"wires":[["d8688732.dbcfd","f2bb2911.320038"]]},{"id":"9b0c2e4a.ec14f","type":"switch","z":"edf56d3b.73c47","name":"mcbTrip","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"mcbTrip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1000,"wires":[["bec1ee7.47d6c1"]]},{"id":"bec1ee7.47d6c1","type":"switch","z":"edf56d3b.73c47","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":810,"y":1000,"wires":[["966efd71.8060d"],["44727152.ba9d1"],["863d030c.dd90a"],["6aa6e421.4ca02c"],["63cb802f.000c28"],["e98908cc.0792d8"],["1f28c881.986327"],["d0e78784.fbe1b8"],["cdb673fe.4e747"],["9fd5abe6.4deaf"]]},{"id":"6c6260b.60225a","type":"function","z":"edf56d3b.73c47","name":"","func":"var convert = parseint(msg.payload / 3600);\nmsg.payload = convert;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["5e115588.bb07b4"]]},{"id":"71479edb.16cb08","type":"comment","z":"a54dc71.22638b8","name":"","info":"fix data going to mysql\nmatch output with columns in table","x":900,"y":1460,"wires":[]},{"id":"65e2e32f.c03d14","type":"debug","z":"324a913d.0871de","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":140,"wires":[]},{"id":"40f948c0.b9dd38","type":"template","z":"324a913d.0871de","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{name}}:{{payload}}","output":"str","x":680,"y":180,"wires":[["65e2e32f.c03d14"]]},{"id":"492c4b89.37ce3c","type":"link in","z":"324a913d.0871de","name":"emonPower","links":["e7ff5066.e239f8"],"x":75,"y":180,"wires":[["a9e7d63a.8e293"]]},{"id":"e7ff5066.e239f8","type":"link out","z":"edf56d3b.73c47","name":"","links":["492c4b89.37ce3c"],"x":660,"y":320,"wires":[]},{"id":"a9e7d63a.8e293","type":"change","z":"324a913d.0871de","name":"translate to emon","rules":[{"t":"change","p":"name","pt":"msg","from":"Mains","fromt":"str","to":"use","tot":"str"},{"t":"change","p":"name","pt":"msg","from":"Solar","fromt":"str","to":"solar","tot":"str"},{"t":"move","p":"timeStamp","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["7827c5d2.be9234"]]},{"id":"f3fbbcae.b4f81","type":"link in","z":"324a913d.0871de","name":"emonEnergy","links":[],"x":275,"y":340,"wires":[["ffe90815.0970d8"]]},{"id":"1516a6cc.62e459","type":"template","z":"324a913d.0871de","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{name}}:{{payload}}","output":"str","x":920,"y":340,"wires":[[]]},{"id":"693af06d.feba38","type":"inject","z":"324a913d.0871de","name":"","topic":"","payload":"solar:101","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":240,"wires":[[]]},{"id":"ffe90815.0970d8","type":"change","z":"324a913d.0871de","name":"translate to emon","rules":[{"t":"change","p":"name","pt":"msg","from":"Mains","fromt":"str","to":"use","tot":"str"},{"t":"change","p":"name","pt":"msg","from":"Solar","fromt":"str","to":"solar","tot":"str"},{"t":"move","p":"timeStamp","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["b8d29a2e.046f58"]]},{"id":"64a797c0.ca2fd8","type":"debug","z":"a54dc71.22638b8","name":"totaliser","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"timeStamp","x":1180,"y":940,"wires":[]},{"id":"5e115588.bb07b4","type":"debug","z":"edf56d3b.73c47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":580,"wires":[]},{"id":"bacf7df1.7fde88","type":"comment","z":"324a913d.0871de","name":"Talk to Emon CMS","info":"","x":190,"y":40,"wires":[]},{"id":"27659891.905ba","type":"comment","z":"324a913d.0871de","name":"Trail off-aut-man","info":"","x":180,"y":480,"wires":[]},{"id":"e3799d23.c2bc7","type":"switch","z":"a54dc71.22638b8","name":"","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"voltage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":103,"wires":[["eaa78cd8.288eb"]]},{"id":"eaa78cd8.288eb","type":"switch","z":"a54dc71.22638b8","name":"","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":103,"wires":[["a5043108.264288","d30012f.b19a5f"]]},{"id":"2b5762a2.fcc16e","type":"comment","z":"a54dc71.22638b8","name":"For maximum monitoring","info":"","x":760,"y":63,"wires":[]},{"id":"ed677cc.c0b758","type":"debug","z":"826fea5b.3c9338","name":"toMQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1080,"y":220,"wires":[]},{"id":"3f878df7.001532","type":"debug","z":"bf447e2a.727cb","name":"timerOut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timeStamp","x":1550,"y":120,"wires":[]},{"id":"50c275d.f6af88c","type":"function","z":"bf447e2a.727cb","name":"","func":"msg.payload = new Date();\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":60,"wires":[["368a9f96.100408"]]},{"id":"368a9f96.100408","type":"debug","z":"bf447e2a.727cb","name":"trial date time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":60,"wires":[]},{"id":"9f1e4aa5.6992f8","type":"inject","z":"bf447e2a.727cb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":60,"wires":[["50c275d.f6af88c"]]},{"id":"e629e8e5.5131","type":"ui_text","z":"bf447e2a.727cb","group":"412e1c7d.9ea144","order":1,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":340,"wires":[]},{"id":"5adef23a.2438c4","type":"ui_text","z":"bf447e2a.727cb","group":"412e1c7d.9ea144","order":2,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":380,"wires":[]},{"id":"c9681907.1b39a","type":"ui_text","z":"bf447e2a.727cb","group":"412e1c7d.9ea144","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":420,"wires":[]},{"id":"3f1ed58e.b3498a","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":260,"wires":[]},{"id":"b989fdf2.9a991","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":560,"wires":[]},{"id":"680b941b.1cc12c","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":140,"wires":[]},{"id":"7f2ea80e.61ec1","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":180,"wires":[]},{"id":"a44d538.d8ef53","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":220,"wires":[]},{"id":"7016685c.473238","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":260,"wires":[]},{"id":"a632c12.a19bd4","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":300,"wires":[]},{"id":"8d344462.bdd0a","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":340,"wires":[]},{"id":"8ee83d3f.ee63","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":380,"wires":[]},{"id":"c7342e6b.5f82a","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":420,"wires":[]},{"id":"9b45bd6e.95fd28","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":460,"wires":[]},{"id":"3987d58.fb912aa","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":500,"wires":[]},{"id":"33f1b78d.f8d698","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":80,"wires":[]},{"id":"d80a037c.c7b33","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":560,"wires":[]},{"id":"f16dcc3f.bc72d8","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":600,"wires":[]},{"id":"12336d16.cbc97b","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":640,"wires":[]},{"id":"43748906.41c03","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":680,"wires":[]},{"id":"9c079d1d.3ada88","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":720,"wires":[]},{"id":"d62801c0.6c992","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":760,"wires":[]},{"id":"c061aa62.979788","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":800,"wires":[]},{"id":"a13fdfe.73d79a","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":840,"wires":[]},{"id":"19c6ca12.a19916","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":880,"wires":[]},{"id":"64c62f9.47b7d5","type":"ui_text","z":"f9e52348.05af9","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1390,"y":920,"wires":[]},{"id":"966efd71.8060d","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":840,"wires":[]},{"id":"f75c046b.0028e8","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":2,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":300,"wires":[]},{"id":"9a442c1b.68b15","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":3,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":340,"wires":[]},{"id":"6c319a73.ea410c","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":4,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":380,"wires":[]},{"id":"e1c56590.1c11","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":5,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":420,"wires":[]},{"id":"bb4e0592.e69218","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":7,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":500,"wires":[]},{"id":"a335067b.93feb","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":8,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":540,"wires":[]},{"id":"a2b3ab68.caab08","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":9,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":580,"wires":[]},{"id":"44e7662b.5009b","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":10,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":620,"wires":[]},{"id":"58fc657c.7a1c04","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":600,"wires":[]},{"id":"2be66e43.3b257a","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"914bb517.d11f7","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":680,"wires":[]},{"id":"89da9cf1.a46ab8","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":720,"wires":[]},{"id":"647f66b4.541be8","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":760,"wires":[]},{"id":"612d41f6.da115","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":800,"wires":[]},{"id":"610769bc.932308","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":840,"wires":[]},{"id":"6a720f5.8174bf","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":880,"wires":[]},{"id":"c0b8ba01.0f6218","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":920,"wires":[]},{"id":"44727152.ba9d1","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":880,"wires":[]},{"id":"863d030c.dd90a","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":920,"wires":[]},{"id":"6aa6e421.4ca02c","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":960,"wires":[]},{"id":"63cb802f.000c28","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1000,"wires":[]},{"id":"e98908cc.0792d8","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1040,"wires":[]},{"id":"1f28c881.986327","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1080,"wires":[]},{"id":"d0e78784.fbe1b8","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1120,"wires":[]},{"id":"cdb673fe.4e747","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1160,"wires":[]},{"id":"9fd5abe6.4deaf","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1200,"wires":[]},{"id":"d1e8c68c.357638","type":"ui_text","z":"edf56d3b.73c47","group":"544391f8.14d89","order":6,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":460,"wires":[]},{"id":"d30012f.b19a5f","type":"ui_text","z":"a54dc71.22638b8","group":"544391f8.14d89","order":56,"width":0,"height":0,"name":"PT Text","label":"Voltage from PT","format":"{{msg.payload}}v","layout":"row-spread","x":890,"y":123,"wires":[]},{"id":"2e533257.29d346","type":"ui_chart","z":"edf56d3b.73c47","name":"","group":"544391f8.14d89","order":1,"width":"8","height":"4","label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":120,"wires":[[]]},{"id":"80a15669.03af5","type":"ui_chart","z":"edf56d3b.73c47","name":"","group":"544391f8.14d89","order":2,"width":"8","height":"4","label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"260","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":160,"wires":[[]]},{"id":"89af3eec.938818","type":"ui_chart","z":"edf56d3b.73c47","name":"","group":"544391f8.14d89","order":1,"width":"8","height":"5","label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":80,"wires":[[]]},{"id":"59645ac.53e2224","type":"ui_chart","z":"edf56d3b.73c47","name":"","group":"544391f8.14d89","order":2,"width":"8","height":"4","label":"Controlled Water Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"260","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":200,"wires":[[]]},{"id":"a5043108.264288","type":"ui_chart","z":"a54dc71.22638b8","name":"PT Chart","group":"544391f8.14d89","order":55,"width":0,"height":0,"label":"From PT V","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"220","ymax":"260","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":83,"wires":[[]]},{"id":"f4bddc48.f5c498","type":"ui_template","z":"bf447e2a.727cb","group":"412e1c7d.9ea144","name":"Web Table","order":1,"width":"6","height":"6","format":"<table id=\"table\" border=\"0\">\n <tr>\n <th>Temperature</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n  <td class=\"numeric\" >{{row}}</td>\n <td class=\"numeric\" >{{msg.col1[$index]}}</td>\n </tr>\n  <tr>\n <th>Col 2</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.col1\">\n <td class=\"numeric\" >{{row}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":930,"y":560,"wires":[["b5e16eac.2477"]]},{"id":"bdb6ea73.d40128","type":"ui_template","z":"324a913d.0871de","group":"544391f8.14d89","name":"buttons","order":1,"width":"6","height":"8","format":"\n<div ng-repeat=\"(payload, topic) in msg.payload\">\n\n    <div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n        <span class=\"btn-name\" flex=\"30\">{{ msg.name }}</span>\n            \n        <md-button \n            ng-click=\"send({payload: 'on', topic: 'stat/sonoffhwc/'+payload});\"\n            ng-class=\"device.state.input === 'on' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-on\" \n            flex>\n            ON\n        </md-button>\n            \n        <md-button \n            ng-click=\"send({payload: 'auto', topic: 'stat/sonoffhwc/'+payload});\"\n            ng-class=\"device.state.input === 'auto' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-auto\" \n            flex>\n            AUTO\n        </md-button>\n            \n        <md-button \n            ng-click=\"send({payload: 'off', topic: 'stat/sonoffhwc/'+payload});\"\n            ng-class=\"device.state.input === 'off' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-off\" \n            flex>\n            OFF\n        </md-button>\n        \n        <md-led \n            ng-class=\"device.state.output === 'on' ? 'md-led-on' : 'md-led-off'\"\n            class=\"md-led\"\n        </md-led>\n            \n    </div>\n</div>\n\n\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 10px;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn {\n        color: #000;\n        padding: 15px;\n        margin: 0px 10px 0px 0px;\n        background-color: #c3c3c3;\n        border: 1px solid #ababab;\n        box-shadow: 4px 4px 6px 0 #dadada;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-on.btn-selected {\n        background-color: #00FF00;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-auto.btn-selected {\n        background-color: #f4c61e;\n    }\n    \n    \n    .btn-name {\n        text-align: center;\n        font-weight: bold;\n    }\n    \n\n    .md-led {\n        margin-left: 15px;\n        border-radius: 50%;\n\t    width: 20px;\n\t    height: 20px; \n\t    border: 1px solid #666666;\n    }\n    \n    .md-led.md-led-on {\n        background: #00ff00; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #00ff00 0%, #00c406 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #00ff00 0%,#00c406 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #00ff00 0%,#00c406 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#00c406',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n    \n    .md-led.md-led-off {\n        background: #ff0000; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, #d61800 95%, #b70300 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,#d61800 95%,#b70300 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #ff0000 0%,#d61800 95%,#b70300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b70300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n \n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":240,"y":600,"wires":[[]]},{"id":"25d36b3a.6a039c","type":"moment","z":"bf447e2a.727cb","name":"Hour","topic":"hour","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH","locale":"en_GB","output":"","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":380,"wires":[["6db4d4e4.b27a9c","2914dd11.b39f2a"]]},{"id":"f0e1a457.05366","type":"moment","z":"bf447e2a.727cb","name":"Minute","topic":"min","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"mm","locale":"en_GB","output":"","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":420,"wires":[["fbfefc34.5fa6"]]},{"id":"dc6c369.69b3048","type":"moment","z":"bf447e2a.727cb","name":"Day","topic":"day","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":340,"wires":[["b80e43e7.dda95"]]},{"id":"b8d29a2e.046f58","type":"moment","z":"324a913d.0871de","name":"","topic":"","input":"time","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"time","outputType":"msg","outTz":"Australia/Brisbane","x":700,"y":340,"wires":[["1516a6cc.62e459"]]},{"id":"7827c5d2.be9234","type":"moment","z":"324a913d.0871de","name":"","topic":"","input":"time","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"time","outputType":"msg","outTz":"Australia/Brisbane","x":480,"y":180,"wires":[["40f948c0.b9dd38"]]},{"id":"5ddfb2f8.fa9d3c","type":"random","z":"bf447e2a.727cb","name":"","low":"1","high":"10","inte":"true","x":520,"y":600,"wires":[["6bb889bc.a5e278"]]},{"id":"d64c32c3.2a9808","type":"mysql","z":"a54dc71.22638b8","mydb":"ba35f68c.ad58b8","name":"","x":1020,"y":660,"wires":[[]]},{"id":"9ecced82.c30e","type":"config","z":"bf447e2a.727cb","name":"Initial Config","properties":[{"p":"unit150","pt":"global","to":"150","tot":"num"},{"p":"unit151","pt":"global","to":"151","tot":"num"},{"p":"unit152","pt":"global","to":"152","tot":"str"},{"p":"unit153","pt":"global","to":"153","tot":"str"},{"p":"unit150.name","pt":"global","to":"testConfigName","tot":"str"}],"active":true,"x":182,"y":79,"wires":[]},{"id":"ac848138.9f8d6","type":"config","z":"324a913d.0871de","name":"Initial Config","properties":[{"p":"unit150","pt":"global","to":"150","tot":"num"},{"p":"unit151","pt":"global","to":"151","tot":"num"},{"p":"unit152","pt":"global","to":"152","tot":"str"},{"p":"unit153","pt":"global","to":"153","tot":"str"},{"p":"unit150.name","pt":"global","to":"testConfigName","tot":"str"}],"active":true,"x":290,"y":100,"wires":[]},{"id":"9ab4484c.a84938","type":"modbus-flex-getter","z":"fa30308e.1452c","name":"Powertag Gateway","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"99644fcf.d1a16","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":930,"y":120,"wires":[[],["74036c25.bf0444","3c2404ff.6e3f74"]]},{"id":"22e58a39.aeb67e","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 150","topic":"","unitid":"150","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":440,"wires":[[]]},{"id":"b527288c.638cc","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 159","topic":"","unitid":"159","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":920,"wires":[[]]},{"id":"25926ae.145cf96","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 158","topic":"","unitid":"158","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":860,"wires":[[]]},{"id":"4a818ae4.a0c6a4","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 151","topic":"","unitid":"151","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":500,"wires":[[]]},{"id":"84f064e0.7d494","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 153","topic":"","unitid":"153","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":560,"wires":[[]]},{"id":"74e35946.51ded","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 154","topic":"","unitid":"154","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":620,"wires":[[]]},{"id":"6162bf26.0bdaa8","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 155","topic":"","unitid":"155","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":680,"wires":[[]]},{"id":"47c09a69.733354","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 156","topic":"","unitid":"156","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":740,"wires":[[]]},{"id":"42ae39f1.cad8f8","type":"modbus-queue-info","z":"fa30308e.1452c","name":"Queue Info Read 157","topic":"","unitid":"157","queueReadIntervalTime":"1000","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":800,"wires":[[]]},{"id":"6b8c2795.f37d1","type":"file in","z":"66115f78.35b8","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":430,"y":240,"wires":[["8d5c32c0.1d3928"]]},{"id":"e99e56a0.46da98","type":"file","z":"66115f78.35b8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":481.60601806640625,"y":361.65155029296875,"wires":[[]]},{"id":"951a68cc.ba0318","type":"inject","z":"66115f78.35b8","name":"","topic":"","payload":"/home/jaidan/Documents/config.csv","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["ad8ddd73.1eb818"]]},{"id":"ad8ddd73.1eb818","type":"change","z":"66115f78.35b8","name":"path/Name","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":240,"wires":[["6b8c2795.f37d1","de882277.4624b"]]},{"id":"8d5c32c0.1d3928","type":"debug","z":"66115f78.35b8","name":"fileRead","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":220,"wires":[]},{"id":"de882277.4624b","type":"debug","z":"66115f78.35b8","name":"fileOrigin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":300,"wires":[]},{"id":"ace16b4b.d1eb8","type":"inject","z":"66115f78.35b8","name":"showmeglobal.filename","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["de12750f.11ee18"]]},{"id":"de12750f.11ee18","type":"change","z":"66115f78.35b8","name":"","rules":[{"t":"move","p":"filename","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":460,"wires":[["e472ee26.7fc988"]]},{"id":"e472ee26.7fc988","type":"debug","z":"66115f78.35b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":480,"wires":[]},{"id":"3e27cade.84dd56","type":"comment","z":"66115f78.35b8","name":"0. Config WIP","info":"This is a work in progress.\n\nThe intent of this flow is to pull a config from a file and load it into the flow.\nIt is not presently used in the working flow. Change the configs in the Modbus subflows.","x":150,"y":80,"wires":[]}]