flows_dorieth.json
[{"id":"56a8724b.7fa80c","type":"tab","label":"1. Flow Timers","disabled":false,"info":""},{"id":"f20f3fd5.628498","type":"tab","label":"2. Modbus Multi","disabled":false,"info":"flow to learn how to read with multiple devices by \non connection and node with less UI CPU load"},{"id":"68e4dade.411394","type":"tab","label":"3. Human Data","disabled":false,"info":""},{"id":"26038799.794bc8","type":"tab","label":"4.1 Charts","disabled":false,"info":""},{"id":"1613bb79.b3214d","type":"tab","label":"4.2 Energy Record","disabled":false,"info":"Manages the reporting of energy use per \nhour and per day."},{"id":"57d16961.419128","type":"tab","label":"Switches","disabled":true,"info":""},{"id":"5bd7f302.121d9c","type":"tab","label":"to mySQL","disabled":false,"info":"Change data to send to mySQL"},{"id":"e7f38dcb.01d978","type":"tab","label":"Flow 2emoncms","disabled":true,"info":"Send Data to Emoncms\n\nthis flow works but need to setup local emoncms first"},{"id":"6a127512.2ffb74","type":"subflow","name":"2b. Modbus Map Single Phase","info":"","in":[{"x":140,"y":400,"wires":[{"id":"ee551a2e.c4d2a8"},{"id":"dc045879.d56f58"},{"id":"65a8b68.b48f548"},{"id":"7ec5a34d.7267dc"}]}],"out":[{"x":1500,"y":400,"wires":[{"id":"a776edd3.304c2","port":0},{"id":"5b31b1aa.3c7a5","port":0},{"id":"8551badb.392118","port":0},{"id":"9cb2792a.02cf98","port":0},{"id":"ecd7c025.661cc","port":0},{"id":"15888a82.f0f435","port":0},{"id":"7633c46b.845adc","port":0},{"id":"1ed67c51.428484","port":0},{"id":"e79f2373.3e774","port":0}]}]},{"id":"3ec999c.d75af66","type":"subflow","name":"2a. Unit ID","info":"Output 1: Single Phase\nOutput 2: Three Phase","in":[{"x":46,"y":241,"wires":[{"id":"55a3e031.53e088"},{"id":"3dcc1a67.7f67ee"}]}],"out":[{"x":1040,"y":460,"wires":[{"id":"2f27b1d4.52fe9e","port":0}]},{"x":1040,"y":580,"wires":[{"id":"2f27b1d4.52fe9e","port":1}]}]},{"id":"9da8ce57.7a458","type":"subflow","name":"Condition Message","info":"","in":[{"x":271,"y":227.00000762939453,"wires":[]}],"out":[{"x":1041.9999694824219,"y":222.0000228881836,"wires":[{"id":"9da8ce57.7a458","port":0}]}]},{"id":"da767948.dfd5","type":"subflow","name":"Charts","info":"","in":[],"out":[]},{"id":"563e9c23.077654","type":"subflow","name":"Timing Triggers","info":"Manage the request timing\nManage the cascade delay for change of modbus \nnodes","in":[],"out":[{"x":828,"y":231,"wires":[]}]},{"id":"d7593dad.f1865","type":"subflow","name":"2c. Modbus Map Three Phase","info":"","in":[{"x":160,"y":460,"wires":[{"id":"8ea29a18.0c7898"},{"id":"c7e0d1a3.f76f2"},{"id":"c56f7d19.72732"},{"id":"fd270db6.55d9d"}]}],"out":[{"x":1240,"y":440,"wires":[{"id":"bf7cf75f.68b6f8","port":0},{"id":"f90c99c3.5f5648","port":0},{"id":"a489834a.b7a28","port":0},{"id":"4f10c41b.89aee4","port":0},{"id":"c7dd4b3f.d86248","port":0},{"id":"24fd6ae.07ac216","port":0},{"id":"1d12035d.7aabdd","port":0},{"id":"7d9554c8.5dd424","port":0},{"id":"a5ea0bd4.0b042","port":0}]}]},{"id":"8ea7900.d31e2f","type":"subflow","name":"2d. Events Map","info":"","in":[{"x":120,"y":340,"wires":[{"id":"5e70d827.a4d53"}]}],"out":[{"x":1320,"y":460,"wires":[{"id":"64554b89.bf67c4","port":0},{"id":"266255dd.12feba","port":0},{"id":"cb327dfa.a046f","port":0},{"id":"17dabfd8.10a2a","port":0},{"id":"ccc9e2d6.756f6","port":0}]}]},{"id":"601b96a4.60a33","type":"subflow","name":"SF_runHour","info":"","in":[{"x":320,"y":400,"wires":[{"id":"724bb58a.9352a4"}]}],"out":[{"x":700,"y":400,"wires":[{"id":"724bb58a.9352a4","port":0}]}]},{"id":"62fb14b5.551414","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Ener-me-ter","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99644fcf.d1a16","type":"modbus-client","z":"","name":"powertag","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.88","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"20","clientTimeout":"10000","reconnectTimeout":"12000"},{"id":"617523e2.1a62e4","type":"ui_group","z":"","name":"Mains and Generation","tab":"9af790f4.029c98","order":3,"disp":true,"width":"8","collapse":true},{"id":"9af790f4.029c98","type":"ui_tab","z":"","name":"Setup","icon":"settings-outline","order":1},{"id":"544391f8.14d89","type":"ui_group","z":"","name":"Sub Circuits","tab":"9af790f4.029c98","order":2,"disp":true,"width":"8","collapse":true},{"id":"d2ff320e.b483d8","type":"ui_group","z":"da767948.dfd5","name":"Gauges","tab":"9af790f4.029c98","order":1,"disp":true,"width":"8","collapse":true},{"id":"ecd15044.02cdd","type":"mqtt-broker","z":"","name":"lola","broker":"192.168.1.10","port":"1883","clientid":"PT","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"10096215.6e0526","type":"ui_group","z":"","name":"Single | Three Phase","tab":"9af790f4.029c98","order":4,"disp":true,"width":"6","collapse":false},{"id":"372b6034.f1cdd8","type":"key-value-store","z":"","filepath":"energyStore.json","namespace":"","name":""},{"id":"9ff0e582.d1f488","type":"ui_tab","z":"","name":"Info","icon":"dashboard","order":2},{"id":"f37de1e7.57ab2","type":"ui_group","z":"","name":"Background Values","tab":"9ff0e582.d1f488","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea1e8a07.6b69d8","type":"ui_group","z":"","name":"Counters","tab":"9ff0e582.d1f488","order":2,"disp":true,"width":"6","collapse":false},{"id":"abdf83bc.aaf358","type":"ui_tab","z":"","name":"Meters","icon":"counter"},{"id":"54553ac9.48028c","type":"ui_group","z":"","name":"Run Hour","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"88514eeb.8dadb8","type":"ui_group","z":"","name":"Total Energy","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"41d2f392.18efa4","type":"ui_group","z":"","name":"Usage This Hour, Last Hour","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"565f8303.f1204c","type":"ui_group","z":"","name":"Usage Today/Yesterday","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"412e1c7d.9ea144","type":"ui_group","z":"","name":"Test Table","tab":"e3cfa59d.8899","order":1,"disp":true,"width":"6","collapse":false},{"id":"e3cfa59d.8899","type":"ui_tab","z":"","name":"Testing","icon":"dashboard","order":1},{"id":"ba35f68c.ad58b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ener_me","tz":""},{"id":"8fcfa7dd.1a2c4","type":"ui_group","z":"","name":"MCB Status","tab":"abdf83bc.aaf358","disp":true,"width":"6","collapse":false},{"id":"41a4eac8.adaa44","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"firstemon"},{"id":"76014092.9eed78","type":"function","z":"3ec999c.d75af66","name":"Unit ID 155","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 155;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Laundry\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["2f27b1d4.52fe9e"]]},{"id":"55a3e031.53e088","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":361,"wires":[["edecaa1e.affb6","622dc39a.87d2dc"]]},{"id":"9ca206ca.ec943","type":"subflow:3ec999c.d75af66","z":"f20f3fd5.628498","name":"","x":370,"y":120,"wires":[["4f41835b.ff49fc","fa24654.f984e98","463b9f99.bf3528"],["89edf4ae.cebac8","fa24654.f984e98","463b9f99.bf3528"]],"outputLabels":["Single Phase","Three Phase"]},{"id":"edecaa1e.affb6","type":"function","z":"3ec999c.d75af66","name":"Unit ID 151","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 151;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Solar\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":271,"wires":[["2f27b1d4.52fe9e"]]},{"id":"ea56ca0b.4ac24","type":"function","z":"3ec999c.d75af66","name":"Unit ID 152","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 152;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Stove\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":353,"wires":[["2f27b1d4.52fe9e"]]},{"id":"ebc74613.a6b8c8","type":"function","z":"3ec999c.d75af66","name":"Unit ID 153","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 153;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Waste\";\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":438,"wires":[["2f27b1d4.52fe9e"]]},{"id":"5a426df0.4e3fcc","type":"function","z":"3ec999c.d75af66","name":"Unit ID 154","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 154;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Lights\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":525,"wires":[["2f27b1d4.52fe9e"]]},{"id":"64ce340e.b728fc","type":"function","z":"3ec999c.d75af66","name":"Unit ID 156","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 156;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"A/C Living Room\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":681,"wires":[["2f27b1d4.52fe9e"]]},{"id":"11e3d88b.83864f","type":"function","z":"3ec999c.d75af66","name":"Unit ID 157","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 157;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Upstairs\";\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":768,"wires":[["2f27b1d4.52fe9e"]]},{"id":"aad6787.0ba4e88","type":"function","z":"3ec999c.d75af66","name":"Unit ID 158","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 158;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Kitchen\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":842,"wires":[["2f27b1d4.52fe9e"]]},{"id":"99a16aa8.4687e","type":"function","z":"3ec999c.d75af66","name":"Unit ID 159","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 159;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\nmsg.phase = phase;\nmsg.name = \"Hot Water\";\nreturn msg;\n","outputs":1,"noerr":0,"x":425,"y":916,"wires":[["2f27b1d4.52fe9e"]]},{"id":"622dc39a.87d2dc","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":401,"wires":[["ea56ca0b.4ac24","9a25dffe.253f2"]]},{"id":"9a25dffe.253f2","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":441,"wires":[["f2921e2f.b56d18","ebc74613.a6b8c8"]]},{"id":"f2921e2f.b56d18","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":481,"wires":[["5ab13583.c320c4","5a426df0.4e3fcc"]]},{"id":"5ab13583.c320c4","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":521,"wires":[["bbe19d70.f7b86","76014092.9eed78"]]},{"id":"bbe19d70.f7b86","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":561,"wires":[["64ce340e.b728fc","476df830.4081"]]},{"id":"476df830.4081","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":601,"wires":[["922716e1.76daa","11e3d88b.83864f"]]},{"id":"922716e1.76daa","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":641,"wires":[["519e55f3.c0e6ac","aad6787.0ba4e88"]]},{"id":"519e55f3.c0e6ac","type":"delay","z":"3ec999c.d75af66","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":178,"y":681,"wires":[["99a16aa8.4687e"]]},{"id":"9fc395c2.c9bc38","type":"change","z":"9da8ce57.7a458","name":"Remove noise","rules":[{"t":"delete","p":"messageId","pt":"msg"},{"t":"delete","p":"delay","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"values","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.911865234375,"y":361.72100830078125,"wires":[[]]},{"id":"b2387614.783948","type":"comment","z":"6a127512.2ffb74","name":"Single Phase Map","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":456.5,"y":75,"wires":[]},{"id":"cf598267.08091","type":"comment","z":"3ec999c.d75af66","name":"Single Phase","info":"","x":1050,"y":400,"wires":[]},{"id":"5b98bed1.d7fe9","type":"comment","z":"3ec999c.d75af66","name":"Three Phase","info":"","x":1050,"y":540,"wires":[]},{"id":"bf7cf75f.68b6f8","type":"function","z":"d7593dad.f1865","name":"Current","func":"msg.payload = { \n    fc: 3,\n    unitid: msg.unitid,\n    address: 2999,\n    quantity: 2,\n};\nmsg.ptTopic = \"current\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[[]]},{"id":"f90c99c3.5f5648","type":"function","z":"d7593dad.f1865","name":"Voltage","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3027,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltage\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":300,"wires":[[]]},{"id":"a489834a.b7a28","type":"function","z":"d7593dad.f1865","name":"Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3053,\n    quantity: 2 \n};\nmsg.ptTopic = \"activePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[[]]},{"id":"4f10c41b.89aee4","type":"function","z":"d7593dad.f1865","name":"Total Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3203,\n    quantity: 4\n};\nmsg.uom = \"kWh\";\nmsg.ptTopic = \"totalActiveEnergy\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":400,"wires":[[]]},{"id":"c7dd4b3f.d86248","type":"function","z":"d7593dad.f1865","name":"Partial Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3255,\n    quantity: 4 \n};\nmsg.ptTopic = \"partialActiveEnergy\"\nmsg.dataType = \"int64\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":440,"wires":[[]]},{"id":"24fd6ae.07ac216","type":"function","z":"d7593dad.f1865","name":"Total Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3059,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalActivePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":520,"wires":[[]]},{"id":"1d12035d.7aabdd","type":"function","z":"d7593dad.f1865","name":"Total Power Factor","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3083,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalPowerFactor\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":560,"wires":[[]]},{"id":"7d9554c8.5dd424","type":"function","z":"d7593dad.f1865","name":"Volt Loss and Current Overload on Volt Loss","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltLoss\"\nmsg.dataType = \"uint\"\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.table});    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":600,"wires":[[]]},{"id":"a5ea0bd4.0b042","type":"function","z":"d7593dad.f1865","name":"Load Run Hour Counter","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3307,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"loadRunHourCounter\";\nmsg.dataType = \"uint32\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":760,"wires":[[]]},{"id":"e24a18a.ed5ade8","type":"comment","z":"d7593dad.f1865","name":"Three Phase Map **IN PROGRESS**","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":280,"y":100,"wires":[]},{"id":"8ea29a18.0c7898","type":"function","z":"d7593dad.f1865","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["dc966b7d.5f9388"]]},{"id":"c56f7d19.72732","type":"function","z":"d7593dad.f1865","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["24cab8af.979fb8"]]},{"id":"c7e0d1a3.f76f2","type":"function","z":"d7593dad.f1865","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":380,"wires":[[]]},{"id":"89edf4ae.cebac8","type":"subflow:d7593dad.f1865","z":"f20f3fd5.628498","name":"","x":630,"y":140,"wires":[["bac2f371.f843d"]]},{"id":"2f27b1d4.52fe9e","type":"switch","z":"3ec999c.d75af66","name":"Single / Three Phase gate","property":"phase","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":500,"wires":[["3544ac0a.8e159c"],["eb4fe282.8eb0d"]]},{"id":"fea2122f.9d5358","type":"comment","z":"3ec999c.d75af66","name":"","info":"This can be squashed into a smaller function","x":605.5,"y":111,"wires":[]},{"id":"4f41835b.ff49fc","type":"subflow:6a127512.2ffb74","z":"f20f3fd5.628498","name":"","x":630,"y":100,"wires":[["bac2f371.f843d"]]},{"id":"59edc805.f9b25","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 150","topic":"","unitid":"150","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":440,"wires":[[]]},{"id":"7d5d3540.1ec8ac","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 159","topic":"","unitid":"159","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":920,"wires":[[]]},{"id":"bac2f371.f843d","type":"modbus-flex-getter","z":"f20f3fd5.628498","name":"","showStatusActivities":true,"showErrors":false,"server":"99644fcf.d1a16","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":940,"y":120,"wires":[[],["1927029b.a16305","8c44deff.3fa3d"]]},{"id":"ccf15a96.5df2d","type":"ui_chart","z":"26038799.794bc8","name":"","group":"544391f8.14d89","order":1,"width":"8","height":"4","label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":860,"y":120,"wires":[[],[]]},{"id":"f49b104c.fc3488","type":"switch","z":"26038799.794bc8","name":"Current","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"current","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":120,"wires":[["f95de0b5.e34408"]]},{"id":"36de515d.fe4ab6","type":"switch","z":"26038799.794bc8","name":"Voltage","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"voltage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":160,"wires":[["c11e1b0e.4cc77"]]},{"id":"9824e79a.1825b8","type":"ui_chart","z":"26038799.794bc8","name":"","group":"617523e2.1a62e4","order":2,"width":"8","height":"4","label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"260","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":860,"y":160,"wires":[[],[]]},{"id":"82e45d60.2d779","type":"switch","z":"26038799.794bc8","name":"runHours","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"loadRunHourCounter","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":720,"wires":[["f146e760.830a88"]]},{"id":"f95de0b5.e34408","type":"switch","z":"26038799.794bc8","name":"Current","property":"unitid","propertyType":"msg","rules":[{"t":"btwn","v":"150","vt":"num","v2":"151","v2t":"num"},{"t":"btwn","v":"151","vt":"num","v2":"160","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":120,"wires":[["a027e37b.0c36f"],["ccf15a96.5df2d"]]},{"id":"a027e37b.0c36f","type":"ui_chart","z":"26038799.794bc8","name":"","group":"617523e2.1a62e4","order":1,"width":"8","height":"5","label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":860,"y":80,"wires":[[],[]]},{"id":"c11e1b0e.4cc77","type":"switch","z":"26038799.794bc8","name":"Mains only","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"159","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["9824e79a.1825b8"],["5bca673b.5d593"]]},{"id":"554eda15.362534","type":"switch","z":"26038799.794bc8","name":"Power","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"activePower","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":200,"wires":[["eba20a41.c989c8"]]},{"id":"eba20a41.c989c8","type":"switch","z":"26038799.794bc8","name":"exclude mains","property":"unitid","propertyType":"msg","rules":[{"t":"btwn","v":"151","vt":"num","v2":"159","v2t":"num"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":220,"wires":[["490f6aa4.f5f04c"],["fc2244d4.e98c28"],["f94e1a2d.8ae238"],["f94e1a2d.8ae238"]],"outputLabels":["","","Usage","Solar"]},{"id":"490f6aa4.f5f04c","type":"ui_chart","z":"26038799.794bc8","name":"","group":"544391f8.14d89","order":2,"width":"8","height":"6","label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":850,"y":240,"wires":[[],[]]},{"id":"fc2244d4.e98c28","type":"ui_gauge","z":"26038799.794bc8","name":"","group":"ea1e8a07.6b69d8","order":0,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.name}}","label":"watts","format":"{{value}}","min":0,"max":"2400","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":850,"y":280,"wires":[]},{"id":"5bca673b.5d593","type":"ui_chart","z":"26038799.794bc8","name":"","group":"617523e2.1a62e4","order":2,"width":"8","height":"4","label":"Controlled Water Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"260","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":910,"y":200,"wires":[[],[]]},{"id":"f146e760.830a88","type":"switch","z":"26038799.794bc8","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":430,"y":720,"wires":[["36d138be.79fdf"],["2795abb2.1e13a4"],["85e238d2.4759e"],["6648367f.77c29"],["42d683e0.ae253c"],["7267aaa.7fd06d4"],["d5a7c5ff.83d1f8"],["250524fd.b782ec"],["512128f7.b5408"],["ea5d86c3.e16b28"]]},{"id":"ff49d29e.9efd9","type":"link in","z":"26038799.794bc8","name":"toCharts","links":["883e7328.4560c8","55fc0a21.50f41c"],"x":100,"y":340,"wires":[["f49b104c.fc3488","36de515d.fe4ab6","554eda15.362534","82e45d60.2d779","d4f3009f.a6ef","86fd729c.d272b"]]},{"id":"5e65926.1b93c6c","type":"change","z":"f20f3fd5.628498","name":"cascadeDelay","rules":[{"t":"set","p":"delay","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":120,"wires":[["9ca206ca.ec943"]]},{"id":"66bfe4e2.ae471c","type":"function","z":"57d16961.419128","name":"Filter unitId","func":"var unitId = msg.payload.unitid\nvar name = msg.payload.name\nmsg = {topic:unitId}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["4b0c6b7e.15b464"]]},{"id":"d2d0101.26896f","type":"function","z":"57d16961.419128","name":"Insert Phase Info","func":"var phase = msg.payload\nvar name = msg.name\nmsg.phaseSelect = phase\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":180,"wires":[[]]},{"id":"95a748fa.89fbe8","type":"comment","z":"57d16961.419128","name":"Description","info":"Reads Unit ID from function.\nSets Switch State.\nStores Switch States.\nAllows single or three phase to be selected.","x":850,"y":80,"wires":[]},{"id":"74debaef.73213c","type":"debug","z":"57d16961.419128","name":"read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":180,"wires":[]},{"id":"4b0c6b7e.15b464","type":"rbe","z":"57d16961.419128","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"topic","x":290,"y":400,"wires":[[]]},{"id":"799bd913.ad1ca8","type":"inject","z":"57d16961.419128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":130,"y":580,"wires":[["3c0a4f8b.1c3e2"]]},{"id":"320b7dbd.68a5d2","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":360,"wires":[["95dec3b6.4d4b2"]]},{"id":"bf9b4fff.a752c","type":"switch","z":"57d16961.419128","name":"Filter Unitid","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"},{"t":"eq","v":"160","vt":"num"},{"t":"eq","v":"161","vt":"num"},{"t":"eq","v":"162","vt":"num"},{"t":"eq","v":"163","vt":"num"},{"t":"eq","v":"164","vt":"num"},{"t":"eq","v":"165","vt":"num"},{"t":"eq","v":"166","vt":"num"},{"t":"eq","v":"167","vt":"num"},{"t":"eq","v":"168","vt":"num"},{"t":"eq","v":"169","vt":"num"}],"checkall":"true","repair":false,"outputs":20,"x":450,"y":680,"wires":[["320b7dbd.68a5d2"],["9c47228d.b31f98"],["ed1add9a.583c98"],["f1ea1b42.ed476"],["f5f4fdd3.3ed808"],["c1ec37df.50081"],["e4eda8ae.ac9c8"],["317ffec8.298282"],["82819e3d.edf52"],["ff8f10e.55472f"],["25b8e7e9.eee24"],["8cbcda0d.774eb8"],["3c8bbcdc.93a6b4"],["a2fe7982.919df"],["f9c40eb7.a5324"],["ed954bb1.738c28"],["15cb1931.fab4df"],["877f3dfa.5985a"],["e9182e64.a2a3c"],["bc34d976.0a6b58"]]},{"id":"95dec3b6.4d4b2","type":"debug","z":"57d16961.419128","name":"switch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":360,"wires":[]},{"id":"ed1add9a.583c98","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":440,"wires":[[]]},{"id":"f1ea1b42.ed476","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":480,"wires":[[]]},{"id":"f5f4fdd3.3ed808","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":520,"wires":[[]]},{"id":"c1ec37df.50081","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":560,"wires":[[]]},{"id":"e4eda8ae.ac9c8","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":600,"wires":[[]]},{"id":"317ffec8.298282","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":640,"wires":[[]]},{"id":"82819e3d.edf52","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":680,"wires":[[]]},{"id":"ff8f10e.55472f","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":720,"wires":[[]]},{"id":"25b8e7e9.eee24","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":760,"wires":[[]]},{"id":"8cbcda0d.774eb8","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":800,"wires":[[]]},{"id":"3c8bbcdc.93a6b4","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":840,"wires":[[]]},{"id":"a2fe7982.919df","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":880,"wires":[[]]},{"id":"f9c40eb7.a5324","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":920,"wires":[[]]},{"id":"ed954bb1.738c28","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":960,"wires":[[]]},{"id":"15cb1931.fab4df","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":17,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1000,"wires":[[]]},{"id":"877f3dfa.5985a","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":18,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1040,"wires":[[]]},{"id":"e9182e64.a2a3c","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1080,"wires":[[]]},{"id":"bc34d976.0a6b58","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1120,"wires":[[]]},{"id":"9c47228d.b31f98","type":"ui_switch","z":"57d16961.419128","name":"Unit","label":"Unit {{msg.topic}}","group":"10096215.6e0526","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":400,"wires":[["95dec3b6.4d4b2"]]},{"id":"b171ef20.23b59","type":"link in","z":"57d16961.419128","name":"","links":[],"x":80,"y":320,"wires":[["66bfe4e2.ae471c"]]},{"id":"3c0a4f8b.1c3e2","type":"function","z":"57d16961.419128","name":"","func":"var msg0 = { topic:150 };\nvar msg1 = { topic:151 };\nvar msg2 = { topic:152 };\nvar msg3 = { topic:153 };\nvar msg4 = { topic:154 };\nvar msg5 = { topic:155 };\nvar msg6 = { topic:156 };\nvar msg7 = { topic:157 };\nvar msg8 = { topic:158 };\nvar msg9 = { topic:159 };\nvar msg10 = { topic:160 };\nvar msg11 = { topic:161 };\nvar msg12 = { topic:162 };\nvar msg13 = { topic:163 };\nvar msg14 = { topic:164 };\nvar msg15 = { topic:165 };\nvar msg16 = { topic:166 };\nvar msg17 = { topic:167 };\nvar msg18 = { topic:168 };\nvar msg19 = { topic:169 };\n\n\nreturn [ [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg14, msg15, msg16, msg17, msg18, msg19], ];\n","outputs":1,"noerr":0,"x":170,"y":620,"wires":[["74debaef.73213c","bf9b4fff.a752c"]]},{"id":"3dcc1a67.7f67ee","type":"function","z":"3ec999c.d75af66","name":"Unit ID 150","func":"var phase = context.get('phase') || 3;\n\nmsg.unitid = 150;\n\nif (msg.phaseSelect === true) {\n   context.set('phase',3);\n}\nif (msg.phaseSelect === false){\n   context.set('phase',1);\n}\n\n\nmsg.phase = phase;\nmsg.name = \"Mains\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["2f27b1d4.52fe9e"]]},{"id":"9ecced82.c30e","type":"config","z":"3ec999c.d75af66","name":"Initial Config","properties":[{"p":"unit150","pt":"global","to":"150","tot":"num"},{"p":"unit151","pt":"global","to":"151","tot":"num"},{"p":"unit152","pt":"global","to":"152","tot":"str"},{"p":"unit153","pt":"global","to":"153","tot":"str"},{"p":"unit150.name","pt":"global","to":"testConfigName","tot":"str"}],"active":true,"x":290,"y":100,"wires":[]},{"id":"e6f8e73.e8d3518","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 158","topic":"","unitid":"158","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":860,"wires":[[]]},{"id":"eb4fe282.8eb0d","type":"Message Counter","z":"3ec999c.d75af66","name":"","units":"seconds","interval":"30","alignToClock":true,"generator":"internal","x":1170,"y":580,"wires":[["79caa685.95324"],[]]},{"id":"3544ac0a.8e159c","type":"Message Counter","z":"3ec999c.d75af66","name":"","units":"seconds","interval":"30","alignToClock":true,"generator":"internal","x":1170,"y":440,"wires":[["69ad41c0.be963"],[]]},{"id":"69ad41c0.be963","type":"ui_text","z":"3ec999c.d75af66","group":"ea1e8a07.6b69d8","order":0,"width":0,"height":0,"name":"","label":"Single Phase Messages","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":440,"wires":[]},{"id":"79caa685.95324","type":"ui_text","z":"3ec999c.d75af66","group":"ea1e8a07.6b69d8","order":0,"width":0,"height":0,"name":"","label":"Three Phase Messages","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":560,"wires":[]},{"id":"7e81dce0.1081ec","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 151","topic":"","unitid":"151","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":500,"wires":[[]]},{"id":"5f9d1f54.a08198","type":"link in","z":"1613bb79.b3214d","name":"energyRecord","links":["883e7328.4560c8","55fc0a21.50f41c"],"x":75,"y":80,"wires":[["d760e356.75586"]],"outputLabels":["From Modbus"]},{"id":"a21a7265.637e88","type":"link out","z":"56a8724b.7fa80c","name":"timerOut","links":["826ae0d5.a16db8","274b6cbd.7c0564"],"x":1515,"y":160,"wires":[]},{"id":"826ae0d5.a16db8","type":"link in","z":"f20f3fd5.628498","name":"","links":["a21a7265.637e88"],"x":55,"y":120,"wires":[["5e65926.1b93c6c"]]},{"id":"6d28acad.ecf64c","type":"inject","z":"56a8724b.7fa80c","name":"Fast Timer","topic":"fast","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"10","x":370,"y":120,"wires":[["4eb00167.7eae7","3bd5dfc4.88138"]]},{"id":"d37bf775.0a7d1","type":"inject","z":"56a8724b.7fa80c","name":"Slow Timer","topic":"slow","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":true,"onceDelay":"1","x":370,"y":200,"wires":[["4eb00167.7eae7","4eb6a768.b19b28"]]},{"id":"d247d3ec.37ea48","type":"inject","z":"56a8724b.7fa80c","name":"Medium Timer","topic":"medium","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":"1","x":380,"y":160,"wires":[["4eb00167.7eae7","b77501b6.849ea"]]},{"id":"509e5c37.f37ae4","type":"switch","z":"1613bb79.b3214d","name":"Filter for totalActiveEnergy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":640,"wires":[["1057c796.ee4728"]]},{"id":"eb8beefd.2da5d","type":"moment","z":"56a8724b.7fa80c","name":"Hour","topic":"hour","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH","locale":"en_GB","output":"","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":380,"wires":[["9715c86d.7f82c8","1b20fed7.1ee6b9"]]},{"id":"a191c8d0.5cc2d8","type":"debug","z":"56a8724b.7fa80c","name":"global","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":560,"wires":[]},{"id":"7364c6c1.62b2d8","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":380,"wires":[["8f99757c.0bba9"]]},{"id":"bb52694f.5683f","type":"function","z":"56a8724b.7fa80c","name":"readGlobal","func":"var gDay = global.get(\"day\");\nvar gHour = global.get(\"hour\");\nvar gMin = global.get(\"minute\");\nvar a = 10\nvar b = a * 1.2\n\nmsg.payload = [gDay, gHour, gMin, a, b, ];\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["21f8b8d9.f84678"]]},{"id":"9ef3155a.201e98","type":"inject","z":"56a8724b.7fa80c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":560,"wires":[["bb52694f.5683f"]]},{"id":"1b20fed7.1ee6b9","type":"function","z":"56a8724b.7fa80c","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["7364c6c1.62b2d8"]]},{"id":"187206d.7639ef9","type":"inject","z":"56a8724b.7fa80c","name":"On the hour","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":"1","x":150,"y":340,"wires":[["eb8beefd.2da5d","2e5bc2d9.499a3e","c0d596fe.2d75d"]]},{"id":"c0d596fe.2d75d","type":"moment","z":"56a8724b.7fa80c","name":"Minute","topic":"min","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"mm","locale":"en_GB","output":"","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":420,"wires":[["a9d109b4.24d9c8"]]},{"id":"9fbc528d.08e588","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":420,"wires":[["90fb51d1.0dec58"]]},{"id":"615f60ec.424468","type":"function","z":"56a8724b.7fa80c","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["9fbc528d.08e588"]]},{"id":"a9d109b4.24d9c8","type":"rbe","z":"56a8724b.7fa80c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":420,"wires":[["615f60ec.424468"]]},{"id":"2e5bc2d9.499a3e","type":"moment","z":"56a8724b.7fa80c","name":"Day","topic":"day","input":"payload","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD","locale":"en_GB","output":"","outputType":"msg","outTz":"Australia/Brisbane","x":330,"y":340,"wires":[["dee1e439.e1fd98"]]},{"id":"bb9b40c9.5464f8","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":340,"wires":[["23dfd923.dfb1ee"]]},{"id":"9796850f.be3ee","type":"function","z":"56a8724b.7fa80c","name":"change to Int","func":"var num = msg.payload;\n\nnumNum = parseInt(num);\n\nmsg.payload = numNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["bb9b40c9.5464f8"]]},{"id":"dee1e439.e1fd98","type":"rbe","z":"56a8724b.7fa80c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":340,"wires":[["9796850f.be3ee"]]},{"id":"23dfd923.dfb1ee","type":"ui_text","z":"56a8724b.7fa80c","group":"f37de1e7.57ab2","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":340,"wires":[]},{"id":"b6a28298.b60f2","type":"ui_text","z":"56a8724b.7fa80c","group":"f37de1e7.57ab2","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":380,"wires":[]},{"id":"7909360f.77dce8","type":"ui_text","z":"56a8724b.7fa80c","group":"f37de1e7.57ab2","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":420,"wires":[]},{"id":"bb7603e7.6a38c8","type":"comment","z":"56a8724b.7fa80c","name":"Read Global Data","info":"","x":370,"y":500,"wires":[]},{"id":"47dfa5f9.e011cc","type":"comment","z":"56a8724b.7fa80c","name":"Make Day, Hour, Minute available to all","info":"","x":430,"y":300,"wires":[]},{"id":"e49bf7f.56fee88","type":"comment","z":"56a8724b.7fa80c","name":"Set's Modbus Poll Rates","info":"","x":390,"y":80,"wires":[]},{"id":"473a48ee.06a8f","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 153","topic":"","unitid":"153","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":560,"wires":[[]]},{"id":"1c891fc4.72a34","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 154","topic":"","unitid":"154","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":620,"wires":[[]]},{"id":"97976b5f.e12a2","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 155","topic":"","unitid":"155","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":680,"wires":[[]]},{"id":"f3ff1157.4b0bb","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 156","topic":"","unitid":"156","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":740,"wires":[[]]},{"id":"275acee2.0db7e2","type":"modbus-queue-info","z":"f20f3fd5.628498","name":"Queue Info Read 157","topic":"","unitid":"157","lowLowLevel":"12","lowLevel":"15","highLevel":"25","highHighLevel":"30","server":"99644fcf.d1a16","errorOnHighLevel":false,"x":140,"y":800,"wires":[[]]},{"id":"724bb58a.9352a4","type":"switch","z":"601b96a4.60a33","name":"runHours","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"loadRunHourCounter","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":380,"wires":[[]]},{"id":"a55f189c.12843","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":260,"wires":[]},{"id":"d4f3009f.a6ef","type":"switch","z":"26038799.794bc8","name":"Total Energy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["4628c447.0080dc"]]},{"id":"2b2c6db4.197b62","type":"switch","z":"26038799.794bc8","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":810,"y":440,"wires":[["a55f189c.12843"],["9083f436.818ba8"],["f7c6da31.c3d018"],["51342d9f.d8ac84"],["ac9404e1.a330d8"],["2a7fd3ce.b89da4"],["2e675df7.7ec5a2"],["f06b89f2.dcbb48"],["dd072686.9d5728"],["edcaa670.a6811"]]},{"id":"36d138be.79fdf","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":560,"wires":[]},{"id":"1057c796.ee4728","type":"switch","z":"1613bb79.b3214d","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":830,"y":640,"wires":[["6174fcb1.d433bc"],["9bc9c97f.d66e08"],["2a217471.bd70ec"],["ce4da5dc.e662a8"],["a8db42ae.a19978"],["4975b07b.f42828"],["7f6ad5de.fefe2c"],["20f6fa7c.681746"],["ef4cb594.a07ba8"],["d26a738d.6a5be"]]},{"id":"7bbfc2c4.b3bd94","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":460,"wires":[]},{"id":"5d25e6df.65cc68","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":500,"wires":[]},{"id":"20d953d0.058a24","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":540,"wires":[]},{"id":"7307063e.b5cca","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":580,"wires":[]},{"id":"355326ad.cd24da","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":620,"wires":[]},{"id":"58b119fd.896608","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":660,"wires":[]},{"id":"b9de81bb.7cb1e8","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":700,"wires":[]},{"id":"2cc79f8.bd1156","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":740,"wires":[]},{"id":"6e930578.ac2f24","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":780,"wires":[]},{"id":"57708075.c3afe","type":"ui_text","z":"1613bb79.b3214d","group":"41d2f392.18efa4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":820,"wires":[]},{"id":"6174fcb1.d433bc","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":460,"wires":[["7bbfc2c4.b3bd94","7c7b64e9.498b34"]]},{"id":"d26a738d.6a5be","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":820,"wires":[["57708075.c3afe"]]},{"id":"ef4cb594.a07ba8","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["6e930578.ac2f24"]]},{"id":"20f6fa7c.681746","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":740,"wires":[["2cc79f8.bd1156"]]},{"id":"7f6ad5de.fefe2c","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":700,"wires":[["b9de81bb.7cb1e8"]]},{"id":"9bc9c97f.d66e08","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":500,"wires":[["5d25e6df.65cc68"]]},{"id":"2a217471.bd70ec","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":540,"wires":[["20d953d0.058a24"]]},{"id":"ce4da5dc.e662a8","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":580,"wires":[["7307063e.b5cca"]]},{"id":"a8db42ae.a19978","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":620,"wires":[["355326ad.cd24da"]]},{"id":"4975b07b.f42828","type":"function","z":"1613bb79.b3214d","name":"Usage this hour and last hour","func":"\nvar hourBefore = context.get('lastHour');\n\nvar lastHour = context.get('thisHour');\ncontext.set('lastHour', lastHour);\n\nvar thisHour = msg.payload;\ncontext.set('thisHour', thisHour);\n\nvar usageLastHour = parseFloat(lastHour - hourBefore).toFixed(3);\nvar usageThisHour = parseFloat(thisHour - lastHour).toFixed(3);\n\nmsg.payload = (usageThisHour + \", \" + usageLastHour);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":660,"wires":[["58b119fd.896608"]]},{"id":"c12dd743.fbd7e8","type":"ui_text","z":"1613bb79.b3214d","group":"617523e2.1a62e4","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":400,"wires":[]},{"id":"4628c447.0080dc","type":"function","z":"26038799.794bc8","name":"","func":"var kwh = (msg.payload);\nmsg.payload = kwh.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["2b2c6db4.197b62"]]},{"id":"7c7b64e9.498b34","type":"function","z":"1613bb79.b3214d","name":"Round","func":"var kwh = parseInt(msg.payload).toFixed(2);\n\nmsg.payload = kwh;\nreturn msg;\n","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[["c12dd743.fbd7e8"]]},{"id":"ed4a058d.f4a73","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"day","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"day","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["a21a7265.637e88"]]},{"id":"8f99757c.0bba9","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"hour","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"hour","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":380,"wires":[["b6a28298.b60f2","a21a7265.637e88"]]},{"id":"90fb51d1.0dec58","type":"change","z":"56a8724b.7fa80c","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"minute","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"minute","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":420,"wires":[["7909360f.77dce8","a21a7265.637e88"]]},{"id":"fd270db6.55d9d","type":"function","z":"d7593dad.f1865","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["47fe5ddd.109aa4"]]},{"id":"d760e356.75586","type":"switch","z":"1613bb79.b3214d","name":"Filter for trigger","property":"trigger","propertyType":"msg","rules":[{"t":"eq","v":"hour","vt":"str"},{"t":"eq","v":"day","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":80,"wires":[["509e5c37.f37ae4"],["508ef60d.90b5a"]]},{"id":"b2e11354.b910d8","type":"switch","z":"1613bb79.b3214d","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":830,"y":1060,"wires":[["9ae489eb.d883d8"],["e1df7023.22caa"],["bdbd58c0.cfa708"],["36fe9133.8cd8fe"],["f5105779.d2bef"],["721eedb7.ee8ddc"],["6f0c3d7.4208fc4"],["7d1d18c8.79127"],["d430e8eb.946668"],["f3b31aca.83a8d"]]},{"id":"f4037eea.ca0668","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":880,"wires":[]},{"id":"9ae489eb.d883d8","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay')|| 0;\n\nvar lastDay = context.get('thisDay')||0;\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":880,"wires":[["f4037eea.ca0668"]]},{"id":"508ef60d.90b5a","type":"switch","z":"1613bb79.b3214d","name":"Filter for totalActiveEnergy","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"totalActiveEnergy","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1060,"wires":[["b2e11354.b910d8"]]},{"id":"e1df7023.22caa","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":920,"wires":[["2477765f.39206a"]]},{"id":"bdbd58c0.cfa708","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":960,"wires":[["be5e38f.65f2b48"]]},{"id":"36fe9133.8cd8fe","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1000,"wires":[["f60ab0d0.06734"]]},{"id":"f5105779.d2bef","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1040,"wires":[["5484354.af9a54c"]]},{"id":"721eedb7.ee8ddc","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1080,"wires":[["770079b5.cb96e8"]]},{"id":"6f0c3d7.4208fc4","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1120,"wires":[["b774c740.80f14"]]},{"id":"7d1d18c8.79127","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1160,"wires":[["6bff17a0.85d1e8"]]},{"id":"d430e8eb.946668","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1200,"wires":[["54c3af5a.ff495"]]},{"id":"f3b31aca.83a8d","type":"function","z":"1613bb79.b3214d","name":"Usage today and yesterday","func":"\nvar dayBefore = context.get('lastDay');\n\nvar lastDay = context.get('thisDay');\ncontext.set('lastDay', lastDay);\n\nvar thisDay = msg.payload;\ncontext.set('thisDay', thisDay);\n\nvar usageLastDay = parseFloat(lastDay - dayBefore).toFixed(3);\nvar usageThisDay = parseFloat(thisDay - lastDay).toFixed(3);\n\nmsg.payload = (usageThisDay + \", \" + usageLastDay);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1240,"wires":[["fb295b4b.f6b508"]]},{"id":"2477765f.39206a","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":920,"wires":[]},{"id":"be5e38f.65f2b48","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":960,"wires":[]},{"id":"f60ab0d0.06734","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1000,"wires":[]},{"id":"5484354.af9a54c","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1040,"wires":[]},{"id":"770079b5.cb96e8","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1080,"wires":[]},{"id":"b774c740.80f14","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1120,"wires":[]},{"id":"6bff17a0.85d1e8","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1160,"wires":[]},{"id":"54c3af5a.ff495","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1200,"wires":[]},{"id":"fb295b4b.f6b508","type":"ui_text","z":"1613bb79.b3214d","group":"565f8303.f1204c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.topic}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1370,"y":1240,"wires":[]},{"id":"21f8b8d9.f84678","type":"ui_template","z":"56a8724b.7fa80c","group":"412e1c7d.9ea144","name":"Web Table","order":1,"width":"6","height":"6","format":"<table id=\"table\" border=\"0\">\n <tr>\n <th>Temperature</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n  <td class=\"numeric\" >{{row}}</td>\n <td class=\"numeric\" >{{msg.col1[$index]}}</td>\n </tr>\n  <tr>\n <th>Col 2</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.col1\">\n <td class=\"numeric\" >{{row}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":930,"y":560,"wires":[["a191c8d0.5cc2d8"]]},{"id":"719b4b07.2aa6f4","type":"function","z":"56a8724b.7fa80c","name":"readGlobal","func":"var random = msg.payload;\nvar a = 1 * random;\nvar b = 2 * random;\nvar c = a * b;\nvar d = b / a * c;\nvar arr = [a, b];\nvar arr1 = [c, d]\n\nmsg.payload = arr;\nmsg.col1 = arr1;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["21f8b8d9.f84678"]]},{"id":"8a98ead8.ec5f","type":"inject","z":"56a8724b.7fa80c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":600,"wires":[["79d9ccd9.4152dc"]]},{"id":"79d9ccd9.4152dc","type":"random","z":"56a8724b.7fa80c","name":"","low":"1","high":"10","inte":"true","x":520,"y":600,"wires":[["719b4b07.2aa6f4"]]},{"id":"9715c86d.7f82c8","type":"rbe","z":"56a8724b.7fa80c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":380,"wires":[["1b20fed7.1ee6b9"]]},{"id":"3f19070c.45dd5","type":"inject","z":"56a8724b.7fa80c","name":"Test","topic":"","payload":"2535937674235","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":130,"y":420,"wires":[["2e5bc2d9.499a3e","eb8beefd.2da5d","c0d596fe.2d75d"]]},{"id":"4eb00167.7eae7","type":"change","z":"56a8724b.7fa80c","name":"change to timestamp","rules":[{"t":"move","p":"payload","pt":"msg","to":"timeStamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":160,"wires":[["a21a7265.637e88"]]},{"id":"cac284d0.0b2008","type":"switch","z":"d7593dad.f1865","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"fa24654.f984e98","type":"debug","z":"f20f3fd5.628498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"unitid","x":570,"y":60,"wires":[]},{"id":"dc966b7d.5f9388","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"realTimeAnalog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["bf7cf75f.68b6f8","f90c99c3.5f5648","a489834a.b7a28","24fd6ae.07ac216","1d12035d.7aabdd","cac284d0.0b2008"]]},{"id":"47fe5ddd.109aa4","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["4f10c41b.89aee4","c7dd4b3f.d86248","a5ea0bd4.0b042"]]},{"id":"24cab8af.979fb8","type":"change","z":"d7593dad.f1865","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"334dbfac.29108","type":"comment","z":"d7593dad.f1865","name":"msg.table","info":"sets the table the data is written to in mysql;","x":560,"y":260,"wires":[]},{"id":"3bd5dfc4.88138","type":"link out","z":"56a8724b.7fa80c","name":"fastOut","links":["20d44f01.47114","8150b6fb.50dc78","334a1ad7.f7fdf6","334a1ad7.f7fdf6"],"x":720,"y":120,"wires":[]},{"id":"d9ec8310.17458","type":"mysql","z":"5bd7f302.121d9c","mydb":"ba35f68c.ad58b8","name":"","x":1000,"y":660,"wires":[[]]},{"id":"15901bd1.d9bfc4","type":"debug","z":"5bd7f302.121d9c","name":"toSQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":460,"wires":[]},{"id":"da6cc928.eb7088","type":"function","z":"5bd7f302.121d9c","name":"Change to SQL Query","func":"msg.topic = \"INSERT INTO `realTimeAnalog`(`unit_id`, `I_A`, `I_B`, `I_C`, `V_AB`, `V_BC`, `V_CA`, `V_A`, `V_B`, `V_C`, `P_A`, `P_B`, `P_C`, `P_T`, `PF`) VALUES (\" + msg.unitid + \",\" + msg.payload.current + \",0,0,0,0,0,\" + msg.payload.voltage + \",0,0,\" + msg.payload.activePower + \",0,0,\" + msg.payload.totalActivePower + \",\" + msg.payload.totalPowerFactor + \")\";\n\n//trialemon\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["15901bd1.d9bfc4","d9ec8310.17458"]]},{"id":"7ead2e69.20952","type":"comment","z":"5bd7f302.121d9c","name":"to mySQL","info":"","x":1160,"y":360,"wires":[]},{"id":"56220568.a0a04c","type":"switch","z":"5bd7f302.121d9c","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":480,"y":280,"wires":[["22bce0d6.ee1ef"],["12faae43.6b7b92"],["87ea195a.2caac8"],["6d0d95ea.890fdc"],["76d26093.1c94c"],["4559d667.b252b8"],["9f342f14.915af"],["53b638cb.db0d18"],["a30a1e90.0e976"]]},{"id":"9f342f14.915af","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":460,"wires":[["da6cc928.eb7088"]]},{"id":"66c2034b.3da54c","type":"switch","z":"5bd7f302.121d9c","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"realTimeAnalog","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":220,"wires":[["56220568.a0a04c"]]},{"id":"8150b6fb.50dc78","type":"link in","z":"5bd7f302.121d9c","name":"fastIn","links":["3bd5dfc4.88138"],"x":155,"y":440,"wires":[["331893cf.43a2dc"]]},{"id":"331893cf.43a2dc","type":"change","z":"5bd7f302.121d9c","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["9f342f14.915af","22bce0d6.ee1ef","12faae43.6b7b92","87ea195a.2caac8","6d0d95ea.890fdc","76d26093.1c94c","4559d667.b252b8","53b638cb.db0d18","a30a1e90.0e976"]]},{"id":"22bce0d6.ee1ef","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":220,"wires":[["da6cc928.eb7088"]]},{"id":"12faae43.6b7b92","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":260,"wires":[["da6cc928.eb7088"]]},{"id":"87ea195a.2caac8","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":300,"wires":[["da6cc928.eb7088"]]},{"id":"6d0d95ea.890fdc","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":340,"wires":[["da6cc928.eb7088"]]},{"id":"76d26093.1c94c","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":380,"wires":[["da6cc928.eb7088"]]},{"id":"4559d667.b252b8","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":420,"wires":[["da6cc928.eb7088"]]},{"id":"53b638cb.db0d18","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":500,"wires":[["da6cc928.eb7088"]]},{"id":"a30a1e90.0e976","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":540,"wires":[["da6cc928.eb7088"]]},{"id":"ea8d35c6.b93eb8","type":"link in","z":"5bd7f302.121d9c","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","55fc0a21.50f41c"],"x":155,"y":220,"wires":[["66c2034b.3da54c"]]},{"id":"725a6d3d.56de44","type":"comment","z":"5bd7f302.121d9c","name":"msg.complete","info":"First commnad of each fast cycle.\nTriggers the sending of the Join data.\nThe join takes multiple messages and puts it into one object.","x":210,"y":400,"wires":[]},{"id":"806c191.4bd9de8","type":"comment","z":"5bd7f302.121d9c","name":"Real Time Data table","info":"","x":230,"y":120,"wires":[]},{"id":"caf12f8f.5c53","type":"comment","z":"5bd7f302.121d9c","name":"Totalisers","info":"","x":200,"y":660,"wires":[]},{"id":"7c5170a9.21aa2","type":"debug","z":"5bd7f302.121d9c","name":"toSQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":980,"wires":[]},{"id":"6ec0a1ba.254","type":"function","z":"5bd7f302.121d9c","name":"Change to SQL Query","func":"msg.topic = \"INSERT INTO `totalisers`(`unit_id`, `total_energy`, `partial_energy`, `LOT`) VALUES (\" + msg.unitid + \",\" + msg.payload.totalActiveEnergy + \",\" + msg.payload.partialActiveEnergy + \",\" + msg.payload.loadRunHourCounter + \")\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["7c5170a9.21aa2","d9ec8310.17458","1377c7e0.c9cb08"]]},{"id":"546c4ec4.0a4c","type":"comment","z":"5bd7f302.121d9c","name":"to mySQL","info":"","x":1160,"y":880,"wires":[]},{"id":"2f098e9c.a14b02","type":"switch","z":"5bd7f302.121d9c","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":480,"y":800,"wires":[["174a20ef.eed08f"],["d550be06.6929d"],["a0152bc6.b03138"],["5d3d6753.3a2a48"],["457128ec.bbcaf8"],["74595ee7.8a0cf"],["239e6a62.acddc6"],["193f93ed.0272ac"],["7874f95e.d1f358"]]},{"id":"239e6a62.acddc6","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":980,"wires":[["6ec0a1ba.254"]]},{"id":"2786181e.c10a68","type":"switch","z":"5bd7f302.121d9c","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"totalisers","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":740,"wires":[["2f098e9c.a14b02"]]},{"id":"b23f7924.44cf48","type":"link in","z":"5bd7f302.121d9c","name":"mediumIn","links":["b77501b6.849ea"],"x":155,"y":960,"wires":[["7833552c.3f73cc"]]},{"id":"44326349.7368ec","type":"change","z":"5bd7f302.121d9c","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":960,"wires":[["239e6a62.acddc6","174a20ef.eed08f","d550be06.6929d","a0152bc6.b03138","5d3d6753.3a2a48","457128ec.bbcaf8","74595ee7.8a0cf","193f93ed.0272ac","7874f95e.d1f358"]]},{"id":"174a20ef.eed08f","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":740,"wires":[["6ec0a1ba.254"]]},{"id":"d550be06.6929d","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":780,"wires":[["6ec0a1ba.254"]]},{"id":"a0152bc6.b03138","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":820,"wires":[["6ec0a1ba.254"]]},{"id":"5d3d6753.3a2a48","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":860,"wires":[["6ec0a1ba.254"]]},{"id":"457128ec.bbcaf8","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":900,"wires":[["6ec0a1ba.254"]]},{"id":"74595ee7.8a0cf","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":940,"wires":[["6ec0a1ba.254"]]},{"id":"193f93ed.0272ac","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1020,"wires":[["6ec0a1ba.254"]]},{"id":"7874f95e.d1f358","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1060,"wires":[["6ec0a1ba.254"]]},{"id":"8af7f392.5ca75","type":"link in","z":"5bd7f302.121d9c","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","55fc0a21.50f41c"],"x":155,"y":740,"wires":[["2786181e.c10a68"]]},{"id":"b46d6850.2aa248","type":"comment","z":"5bd7f302.121d9c","name":"msg.complete","info":"delay is for 10sec after medium timer triggers.\nThis is to allow time for join to get data\nand then send on to mySQL","x":210,"y":920,"wires":[]},{"id":"b77501b6.849ea","type":"link out","z":"56a8724b.7fa80c","name":"mediumOut","links":["b23f7924.44cf48"],"x":715,"y":160,"wires":[]},{"id":"7833552c.3f73cc","type":"delay","z":"5bd7f302.121d9c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":960,"wires":[["44326349.7368ec"]]},{"id":"6591fb97.6c1904","type":"comment","z":"5bd7f302.121d9c","name":"Events","info":"","x":190,"y":1140,"wires":[]},{"id":"2b64b2d7.02e47e","type":"debug","z":"5bd7f302.121d9c","name":"toSQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":1460,"wires":[]},{"id":"131b7fc8.5c2b1","type":"function","z":"5bd7f302.121d9c","name":"Change to SQL Query","func":"// msg.topic = \"INSERT INTO `realTimeAnalog`(`unit_id`, `I_A`, `I_B`, `I_C`, `V_AB`, `V_BC`, `V_CA`, `V_A`, `V_B`, `V_C`, `P_A`, `P_B`, `P_C`, `P_T`, `PF`) VALUES (\" + msg.unitid + \",\" + msg.payload.current + \",0,0,0,0,0,\" + msg.payload.voltage + \",0,0,\" + msg.payload.activePower + \",0,0,\" + msg.payload.totalActivePower + \",\" + msg.payload.totalPowerFactor + \")\";\nmsg.topic = \"INSERT INTO `events`(`unit_id`, `energy_reset`, `data_valid`, `volt_loss`, `overcurrent_trip`, `P_thresh_LOT`) VALUES (\" + msg.unitid + \",\" + msg.payload.partialActiveEnergyReset + \",\" + msg.payload.voltLoss + \",\" + msg.payload.currentOverload + \",\" + msg.payload.P_thresh_LOT + \")\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960,"y":1400,"wires":[["2b64b2d7.02e47e"]]},{"id":"d47005.baf3fff8","type":"comment","z":"5bd7f302.121d9c","name":"to mySQL","info":"","x":1160,"y":1360,"wires":[]},{"id":"f3925de5.1f56d","type":"switch","z":"5bd7f302.121d9c","name":"split units","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"str"},{"t":"eq","v":"151","vt":"str"},{"t":"eq","v":"152","vt":"str"},{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"154","vt":"str"},{"t":"eq","v":"155","vt":"str"},{"t":"eq","v":"156","vt":"str"},{"t":"eq","v":"157","vt":"str"},{"t":"eq","v":"158","vt":"str"},{"t":"eq","v":"159","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":480,"y":1280,"wires":[["e92d2f36.678e3"],["e40b9b14.6ace58"],["5da828cb.bd2e18"],["69b919e1.29d488"],["c7f52b30.a038e8"],["d27dcf20.d6c"],["20a51552.194a8a"],["5949db19.f32114"],["e97d3ae6.e945d"],["9ca76dd4.e054e8"]]},{"id":"20a51552.194a8a","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1460,"wires":[["131b7fc8.5c2b1"]]},{"id":"2d3dfa07.67e846","type":"switch","z":"5bd7f302.121d9c","name":"filter table","property":"table","propertyType":"msg","rules":[{"t":"eq","v":"events","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1220,"wires":[["1d1ca47d.988f5c","f3925de5.1f56d"]]},{"id":"334a1ad7.f7fdf6","type":"link in","z":"5bd7f302.121d9c","name":"slowin","links":["3bd5dfc4.88138"],"x":155,"y":1440,"wires":[["9cc19d45.17b2f"]]},{"id":"919247bd.15a448","type":"change","z":"5bd7f302.121d9c","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1440,"wires":[["20a51552.194a8a","e92d2f36.678e3","e40b9b14.6ace58","5da828cb.bd2e18","69b919e1.29d488","c7f52b30.a038e8","d27dcf20.d6c","5949db19.f32114","e97d3ae6.e945d","9ca76dd4.e054e8"]]},{"id":"e92d2f36.678e3","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1220,"wires":[["131b7fc8.5c2b1"]]},{"id":"e40b9b14.6ace58","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1260,"wires":[["131b7fc8.5c2b1"]]},{"id":"5da828cb.bd2e18","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1300,"wires":[["131b7fc8.5c2b1"]]},{"id":"69b919e1.29d488","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1340,"wires":[["131b7fc8.5c2b1"]]},{"id":"c7f52b30.a038e8","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1380,"wires":[["131b7fc8.5c2b1"]]},{"id":"d27dcf20.d6c","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1420,"wires":[["131b7fc8.5c2b1"]]},{"id":"5949db19.f32114","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1500,"wires":[["131b7fc8.5c2b1"]]},{"id":"76f2eca5.f67404","type":"link in","z":"5bd7f302.121d9c","name":"inMySQL","links":["5e36d10c.357a8","fc1deb8e.919ea8","55fc0a21.50f41c"],"x":155,"y":1220,"wires":[["2d3dfa07.67e846"]]},{"id":"70f50569.9c92bc","type":"comment","z":"5bd7f302.121d9c","name":"msg.complete","info":"delay is for 10sec after medium timer triggers.\nThis is to allow time for join to get data\nand then send on to mySQL","x":210,"y":1400,"wires":[]},{"id":"9cc19d45.17b2f","type":"delay","z":"5bd7f302.121d9c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1440,"wires":[["919247bd.15a448"]]},{"id":"4eb6a768.b19b28","type":"link out","z":"56a8724b.7fa80c","name":"slowOut","links":[],"x":715,"y":200,"wires":[]},{"id":"1d1ca47d.988f5c","type":"debug","z":"5bd7f302.121d9c","name":"afterFilter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":1180,"wires":[]},{"id":"5b31b1aa.3c7a5","type":"function","z":"6a127512.2ffb74","name":"Current","func":"msg.payload = { \n    fc: 3,\n    unitid: msg.unitid,\n    address: 2999,\n    quantity: 2,\n};\nmsg.ptTopic = \"current\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[[]]},{"id":"8551badb.392118","type":"function","z":"6a127512.2ffb74","name":"Voltage","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3027,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltage\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":280,"wires":[[]]},{"id":"9cb2792a.02cf98","type":"function","z":"6a127512.2ffb74","name":"Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3053,\n    quantity: 2 \n};\nmsg.ptTopic = \"activePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[[]]},{"id":"ecd7c025.661cc","type":"function","z":"6a127512.2ffb74","name":"Total Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3203,\n    quantity: 4\n};\nmsg.uom = \"kWh\";\nmsg.ptTopic = \"totalActiveEnergy\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[[]]},{"id":"15888a82.f0f435","type":"function","z":"6a127512.2ffb74","name":"Partial Active Energy","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3255,\n    quantity: 4 \n};\nmsg.ptTopic = \"partialActiveEnergy\"\nmsg.dataType = \"int64\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[[]]},{"id":"7633c46b.845adc","type":"function","z":"6a127512.2ffb74","name":"Total Active Power","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3059,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalActivePower\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":500,"wires":[[]]},{"id":"1ed67c51.428484","type":"function","z":"6a127512.2ffb74","name":"Total Power Factor","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3083,\n    quantity: 2 \n};\nmsg.ptTopic = \"totalPowerFactor\"\nmsg.dataType = \"float32\"\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":540,"wires":[[]]},{"id":"e79f2373.3e774","type":"function","z":"6a127512.2ffb74","name":"Volt Loss and Current Overload on Volt Loss","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"voltLoss\"\nmsg.dataType = \"uint\"\nreturn msg;","outputs":1,"noerr":0,"x":1065,"y":580,"wires":[[]]},{"id":"a776edd3.304c2","type":"function","z":"6a127512.2ffb74","name":"Load Run Hour Counter","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3307,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"loadRunHourCounter\";\nmsg.dataType = \"uint32\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":740,"wires":[[]]},{"id":"ee551a2e.c4d2a8","type":"function","z":"6a127512.2ffb74","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["e920f040.8432f"]]},{"id":"65a8b68.b48f548","type":"function","z":"6a127512.2ffb74","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["1769aaa5.774835"]]},{"id":"dc045879.d56f58","type":"function","z":"6a127512.2ffb74","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":410,"y":360,"wires":[[]]},{"id":"7ec5a34d.7267dc","type":"function","z":"6a127512.2ffb74","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["cc8a77ce.5cc8d8"]]},{"id":"8650fe3c.96d9d","type":"switch","z":"6a127512.2ffb74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":180,"wires":[[]]},{"id":"e920f040.8432f","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"realTimeAnalog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["5b31b1aa.3c7a5","8551badb.392118","9cb2792a.02cf98","7633c46b.845adc","1ed67c51.428484","e79f2373.3e774","8650fe3c.96d9d"]]},{"id":"cc8a77ce.5cc8d8","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["ecd7c025.661cc","15888a82.f0f435"]]},{"id":"1769aaa5.774835","type":"change","z":"6a127512.2ffb74","name":"","rules":[{"t":"set","p":"table","pt":"msg","to":"totalisers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["a776edd3.304c2"]]},{"id":"44d94de8.3dbff4","type":"comment","z":"6a127512.2ffb74","name":"msg.table","info":"sets the table the data is written to in mysql;","x":660,"y":240,"wires":[]},{"id":"266255dd.12feba","type":"function","z":"8ea7900.d31e2f","name":"Breaker Trip","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3299,\n    quantity: 2 \n};\nmsg.ptTopic = \"mcbTrip\"\nmsg.dataType = \"uint\"\nreturn msg;\n// 0 = Normal, 1 = Voltage Lost, 2 = Breaker tripped on overcurrent.","outputs":1,"noerr":0,"x":810,"y":400,"wires":[[]]},{"id":"f957162a.973d38","type":"comment","z":"8ea7900.d31e2f","name":"Events **IN PROGRESS**","info":"This maps the wireless sensor data\nand defines datatype.\n\nThe different loops are to reduce the data\ncaptured and stored as some items update\nslowly","x":270,"y":140,"wires":[]},{"id":"5e70d827.a4d53","type":"function","z":"8ea7900.d31e2f","name":"fast loop","func":"if (msg.topic === \"fast\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["63ff762b.78fdb8"]]},{"id":"8e8f8d13.ac56f8","type":"function","z":"8ea7900.d31e2f","name":"slow loop","func":"if (msg.topic === \"slow\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":340,"y":500,"wires":[[]]},{"id":"9a6f2f3a.ffeea","type":"function","z":"8ea7900.d31e2f","name":"medium loop","func":"if (msg.topic === \"medium\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":330,"y":420,"wires":[[]]},{"id":"807617dd.e6fe28","type":"function","z":"8ea7900.d31e2f","name":"trigger hour","func":"if (msg.trigger === \"hour\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"x":330,"y":580,"wires":[[]]},{"id":"83b9a75b.04ad98","type":"switch","z":"8ea7900.d31e2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":240,"wires":[[]]},{"id":"63ff762b.78fdb8","type":"change","z":"8ea7900.d31e2f","name":"Set Table","rules":[{"t":"set","p":"table","pt":"msg","to":"events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["64554b89.bf67c4","266255dd.12feba","17dabfd8.10a2a","cb327dfa.a046f","ccc9e2d6.756f6"]]},{"id":"a35ff2a7.f5e2d","type":"comment","z":"8ea7900.d31e2f","name":"msg.table","info":"sets the table the data is written to in mysql;","x":580,"y":300,"wires":[]},{"id":"64554b89.bf67c4","type":"function","z":"8ea7900.d31e2f","name":"Valid","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3297,\n    quantity: 2 \n};\nmsg.ptTopic = \"data_valid\"\nmsg.dataType = \"uint\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[[]]},{"id":"17dabfd8.10a2a","type":"function","z":"8ea7900.d31e2f","name":"Load Run Hour Counter Last Reset","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3311,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"LOT\";\nmsg.dataType = \"IEC870-5-4\";\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":520,"wires":[[]]},{"id":"cb327dfa.a046f","type":"function","z":"8ea7900.d31e2f","name":"Power Threshold LOT","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3309,\n    quantity: 2 \n};\nmsg.uom = \"Hours\";\nmsg.ptTopic = \"P_thresh_LOT\";\nmsg.dataType = \"float32\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":480,"wires":[[]]},{"id":"cff4c5ed.1ad34","type":"debug","z":"5bd7f302.121d9c","name":"159 vl","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":1220,"wires":[]},{"id":"e97d3ae6.e945d","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1540,"wires":[["131b7fc8.5c2b1"]]},{"id":"9ca76dd4.e054e8","type":"join","z":"5bd7f302.121d9c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"ptTopic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1580,"wires":[["131b7fc8.5c2b1","cff4c5ed.1ad34"]]},{"id":"463b9f99.bf3528","type":"subflow:8ea7900.d31e2f","z":"f20f3fd5.628498","name":"","x":580,"y":180,"wires":[["bac2f371.f843d"]]},{"id":"ccc9e2d6.756f6","type":"function","z":"8ea7900.d31e2f","name":"Partial Active Energy Reset","func":"msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: msg.unitid,\n    address: 3259,\n    quantity: 4\n};\nmsg.uom = \"Wh\";\nmsg.ptTopic = \"partialActiveEnergyReset\";\nmsg.dataType = \"int64\";\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":560,"wires":[[]]},{"id":"1927029b.a16305","type":"debug","z":"f20f3fd5.628498","name":"buffer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1200,"y":120,"wires":[]},{"id":"3867100d.6b0cc","type":"function","z":"68e4dade.411394","name":"extract buffer data and make data readable","func":"var msg1 = {};\n\n//Change Hex to a real number\n\nif (msg.dataType === \"uint32\") {\n    msg.payload = ((msg.payload.buffer.readUInt32BE(0,4))).toFixed(2);\n    return [ msg, null ];\n}\n\nif (msg.dataType === \"float32\") {\n   msg.payload = msg.payload.buffer.readFloatBE(0,4).toFixed(2);\n    return [ msg, null ];\n}\n\nif (msg.dataType === \"int64\") {\n   msg.payload = (((((msg.payload.data[0] * 65536 ) + msg.payload.data[1] ) * 65536 ) + msg.payload.data[2] ) * 65536 + msg.payload.data[3])/1000;\n    return [ msg, null ];\n}\n//change Run Count from seconds to hours\nif (msg.ptTopic === \"loadRunHourCounter\") {\n    var secToHour = (realValue / 3600).toFixed(0);\n    msg.payload = secToHour;\n    return [ msg, null ];\n}\n\n// 0= Normal, 1 = Volt Loss, 2 = Overcurrent Trip\nif (msg.ptTopic === \"mcbTrip\") {\n    msg.payload = msg.payload.buffer.readUIntBE(0,4);\n    return [ null, msg ];\n    }\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.unitid});  \n\n//Change kWh to 1D.P.\n//if (msg.ptTopic === \"totalActiveEnergy\") {\n//    var secToHour = (realValue).toFixed(1);\n//    realValue = secToHour;\n//}\n","outputs":2,"noerr":0,"x":290,"y":120,"wires":[["92345f69.d85c38"],["dbaaf1e8.7b12f8"]]},{"id":"61012f62.a13e1","type":"mqtt out","z":"68e4dade.411394","name":"","topic":"","qos":"0","retain":"","broker":"ecd15044.02cdd","x":1070,"y":160,"wires":[]},{"id":"21dc0831.e7d4e","type":"function","z":"68e4dade.411394","name":"Add MQTT Topic","func":"\nmsg.topic = \"powerTag/\" + msg.unitid + \"/\" + msg.ptTopic;\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["61012f62.a13e1"]]},{"id":"55fc0a21.50f41c","type":"link out","z":"68e4dade.411394","name":"cleanData","links":["5f9d1f54.a08198","76f2eca5.f67404","8af7f392.5ca75","ea8d35c6.b93eb8","ff49d29e.9efd9"],"x":815,"y":300,"wires":[]},{"id":"28ab87a9.6cf24","type":"comment","z":"68e4dade.411394","name":"Clean Data Output","info":"Sends clean data to:\n- program\n- mySQL\n","x":890,"y":240,"wires":[]},{"id":"2c1903fe.d8dfd4","type":"comment","z":"68e4dade.411394","name":"to MQTT","info":"","x":860,"y":120,"wires":[]},{"id":"dbaaf1e8.7b12f8","type":"switch","z":"68e4dade.411394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":340,"wires":[["c531bc4a.7714f8"],["b235545e.76866"],["6205327e.83aa04"]],"outputLabels":["Normal","Volt Loss","Overcurrent Trip"]},{"id":"c7de4068.9b357","type":"comment","z":"68e4dade.411394","name":"MCB Status","info":"Changes data to show Normal, \nVolt loss or Overcurrent Trip","x":130,"y":280,"wires":[]},{"id":"ab4689ed.a3e51","type":"link in","z":"68e4dade.411394","name":"to Human Data","links":["8c44deff.3fa3d"],"x":75,"y":120,"wires":[["3867100d.6b0cc"]]},{"id":"8c44deff.3fa3d","type":"link out","z":"f20f3fd5.628498","name":"hex data","links":["ab4689ed.a3e51"],"x":1175,"y":180,"wires":[]},{"id":"c531bc4a.7714f8","type":"change","z":"68e4dade.411394","name":"Normal","rules":[{"t":"set","p":"description","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["92345f69.d85c38"]]},{"id":"b235545e.76866","type":"change","z":"68e4dade.411394","name":"Volt Loss","rules":[{"t":"set","p":"description","pt":"msg","to":"Volt Loss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["92345f69.d85c38"]]},{"id":"6205327e.83aa04","type":"change","z":"68e4dade.411394","name":"Overcurrent Trip","rules":[{"t":"set","p":"description","pt":"msg","to":"Over-current Trip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["92345f69.d85c38"]]},{"id":"92345f69.d85c38","type":"switch","z":"68e4dade.411394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":220,"wires":[["55fc0a21.50f41c","21dc0831.e7d4e"]]},{"id":"86fd729c.d272b","type":"switch","z":"26038799.794bc8","name":"mcbTrip","property":"ptTopic","propertyType":"msg","rules":[{"t":"eq","v":"mcbTrip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1000,"wires":[["d65cb5fa.ccd3b8"]]},{"id":"d65cb5fa.ccd3b8","type":"switch","z":"26038799.794bc8","name":"Split CCT's","property":"unitid","propertyType":"msg","rules":[{"t":"eq","v":"150","vt":"num"},{"t":"eq","v":"151","vt":"num"},{"t":"eq","v":"152","vt":"num"},{"t":"eq","v":"153","vt":"num"},{"t":"eq","v":"154","vt":"num"},{"t":"eq","v":"155","vt":"num"},{"t":"eq","v":"156","vt":"num"},{"t":"eq","v":"157","vt":"num"},{"t":"eq","v":"158","vt":"num"},{"t":"eq","v":"159","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":810,"y":1000,"wires":[["1c5635dd.d771e2"],["f223072b.2036e"],["c323210b.3ecc6"],["15ff1b35.383e5d"],["f8e9c95b.bf4398"],["d36ab1e9.2c7308"],["87a0e3ad.90b448"],["b6baacb2.eb9ad8"],["ef60bea2.5b5dc8"],["d82f2354.ea9f38"]]},{"id":"1c5635dd.d771e2","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":840,"wires":[]},{"id":"9083f436.818ba8","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":2,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":300,"wires":[]},{"id":"f7c6da31.c3d018","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":3,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":340,"wires":[]},{"id":"51342d9f.d8ac84","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":4,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":380,"wires":[]},{"id":"ac9404e1.a330d8","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":5,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":420,"wires":[]},{"id":"2e675df7.7ec5a2","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":7,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":500,"wires":[]},{"id":"f06b89f2.dcbb48","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":8,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":540,"wires":[]},{"id":"dd072686.9d5728","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":9,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":580,"wires":[]},{"id":"edcaa670.a6811","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":10,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":620,"wires":[]},{"id":"2795abb2.1e13a4","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":600,"wires":[]},{"id":"85e238d2.4759e","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"6648367f.77c29","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":680,"wires":[]},{"id":"42d683e0.ae253c","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":720,"wires":[]},{"id":"7267aaa.7fd06d4","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":760,"wires":[]},{"id":"d5a7c5ff.83d1f8","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":800,"wires":[]},{"id":"250524fd.b782ec","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":840,"wires":[]},{"id":"512128f7.b5408","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":880,"wires":[]},{"id":"ea5d86c3.e16b28","type":"ui_text","z":"26038799.794bc8","group":"54553ac9.48028c","order":1,"width":0,"height":0,"name":"150","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":630,"y":920,"wires":[]},{"id":"f223072b.2036e","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":880,"wires":[]},{"id":"c323210b.3ecc6","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":920,"wires":[]},{"id":"15ff1b35.383e5d","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":960,"wires":[]},{"id":"f8e9c95b.bf4398","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1000,"wires":[]},{"id":"d36ab1e9.2c7308","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1040,"wires":[]},{"id":"87a0e3ad.90b448","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1080,"wires":[]},{"id":"b6baacb2.eb9ad8","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1120,"wires":[]},{"id":"ef60bea2.5b5dc8","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1160,"wires":[]},{"id":"d82f2354.ea9f38","type":"ui_text","z":"26038799.794bc8","group":"8fcfa7dd.1a2c4","order":1,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.description}}","layout":"row-spread","x":1010,"y":1200,"wires":[]},{"id":"2a7fd3ce.b89da4","type":"ui_text","z":"26038799.794bc8","group":"88514eeb.8dadb8","order":6,"width":0,"height":0,"name":"","label":"{{msg.name}} ({{msg.unitid}})","format":"{{msg.payload}} {{msg.uom}}","layout":"row-spread","x":1030,"y":460,"wires":[]},{"id":"2e2fffca.1edb8","type":"function","z":"26038799.794bc8","name":"","func":"var convert = (msg.payload / 3600);\nmsg.payload = convert;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[[]]},{"id":"5f49a715.407b","type":"comment","z":"5bd7f302.121d9c","name":"","info":"fix data going to mysql\nmatch output with columns in table","x":900,"y":1460,"wires":[]},{"id":"a46203c5.48047","type":"emoncms","z":"e7f38dcb.01d978","name":"Emoncms Push","emonServer":"41a4eac8.adaa44","nodegroup":"Leaver","datatype":"json","x":900,"y":180,"wires":[]},{"id":"a5792f47.91b4","type":"debug","z":"e7f38dcb.01d978","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":140,"wires":[]},{"id":"84aa1283.5e3448","type":"template","z":"e7f38dcb.01d978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{name}}:{{payload}}","output":"str","x":680,"y":180,"wires":[["a46203c5.48047","a5792f47.91b4"]]},{"id":"ae624988.80687","type":"link in","z":"e7f38dcb.01d978","name":"emonPower","links":["f94e1a2d.8ae238"],"x":75,"y":180,"wires":[["6d291f50.2693f"]]},{"id":"f94e1a2d.8ae238","type":"link out","z":"26038799.794bc8","name":"","links":["ae624988.80687"],"x":660,"y":320,"wires":[]},{"id":"6d291f50.2693f","type":"change","z":"e7f38dcb.01d978","name":"translate to emon","rules":[{"t":"change","p":"name","pt":"msg","from":"Mains","fromt":"str","to":"use","tot":"str"},{"t":"change","p":"name","pt":"msg","from":"Solar","fromt":"str","to":"solar","tot":"str"},{"t":"move","p":"timeStamp","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["27d9de2c.b9281a"]]},{"id":"9594bdaf.ecf8f","type":"link in","z":"e7f38dcb.01d978","name":"emonEnergy","links":[],"x":275,"y":340,"wires":[["7b09963b.7b245"]]},{"id":"478f9ae8.7e4ce4","type":"emoncms","z":"e7f38dcb.01d978","name":"Emoncms Push","emonServer":"41a4eac8.adaa44","nodegroup":"Leaver","datatype":"json","x":1140,"y":340,"wires":[]},{"id":"61bca3c2.1a39ac","type":"template","z":"e7f38dcb.01d978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{name}}:{{payload}}","output":"str","x":920,"y":340,"wires":[["478f9ae8.7e4ce4"]]},{"id":"d62e55c1.3161f8","type":"inject","z":"e7f38dcb.01d978","name":"","topic":"","payload":"solar:101","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":240,"wires":[["a46203c5.48047"]]},{"id":"7b09963b.7b245","type":"change","z":"e7f38dcb.01d978","name":"translate to emon","rules":[{"t":"change","p":"name","pt":"msg","from":"Mains","fromt":"str","to":"use","tot":"str"},{"t":"change","p":"name","pt":"msg","from":"Solar","fromt":"str","to":"solar","tot":"str"},{"t":"move","p":"timeStamp","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["bbf59908.bd4e4"]]},{"id":"bbf59908.bd4e4","type":"moment","z":"e7f38dcb.01d978","name":"","topic":"","input":"time","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"time","outputType":"msg","outTz":"Australia/Brisbane","x":700,"y":340,"wires":[["61bca3c2.1a39ac"]]},{"id":"27d9de2c.b9281a","type":"moment","z":"e7f38dcb.01d978","name":"","topic":"","input":"time","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"time","outputType":"msg","outTz":"Australia/Brisbane","x":480,"y":180,"wires":[["84aa1283.5e3448"]]},{"id":"1377c7e0.c9cb08","type":"debug","z":"5bd7f302.121d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":940,"wires":[]}]